<div class="i_footer">
    <div class="container">
        <div id="footer_links">
            <div>
                <h3>Hitre povezave</h3>
                <ul>
                    <li><a href=<%= siteConfig.links.zavetisce_mh %>>Zavetišče MH</a></li>
                    <li><a href=<%= siteConfig.links.posvojitev_muce %>>Muce, ki iščejo dom</a></li>
                    <li><a href=<%= siteConfig.links.macji_boter %>>Posvojitev na daljavo</a></li>
                    <li><a href=<%= siteConfig.links.zbirka_mh %>>Zbirka Mačje hiše</a></li>
                    <li><a href=<%= siteConfig.links.projekt_vita %>>Projekt Vita</a></li>
                </ul>
            </div>
            <div>
                <h3>Obiščite tudi</h3>
                <ul>
                    <li><a href=<%= siteConfig.external_links.mh_vet %> target="_blank">Veterina MH</a></li>
                    <li><a href=<%= siteConfig.external_links.macji_boter %> target="_blank">Mačji boter</a></li>
                    <li><a href=<%= siteConfig.external_links.super_combe %> target="_blank">Trgovina Super čombe</a>
                    </li>
                    <li><a href=<%= siteConfig.external_links.pomagamo_zivalim_forum %> target="_blank">Forum Pomagamo
                            živalim</a></li>
                </ul>
            </div>
            <div id="footer_links_contact">
                <h3>Kontakt</h3>
                <ul>
                    <li>Zavod Mačja hiša</li>
                    <li><i class="fas fa-home" aria-hidden="true"></i> Groharjeva ulica 8, 3000 Celje</li>
                    <li><i class="fas fa-envelope" aria-hidden="true"></i> info@macjahisa.si</li>
                    <li><i class="fas fa-phone" aria-hidden="true"></i> 040 937 959</li>
                </ul>
            </div>
        </div>
        <div id="footer_social">
            <div class="social_buttons">
                <a href=<%= siteConfig.external_links.mh_social_twitter %> target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href=<%= siteConfig.external_links.mh_social_youtube %> target="_blank">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                </a>
                <a href=<%= siteConfig.external_links.mh_social_instagram %> target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
            <div class="fb_banner">
                <div
                    class="fb-page"
                    data-href=<%= siteConfig.external_links.mh_social_facebook %>
                    data-small-header="false"
                    data-adapt-container-width="true"
                    data-hide-cover="false"
                    data-show-facepile="false"
                >
                    <blockquote
                            cite="https://www.facebook.com/macjahisa"
                            class="fb-xfbml-parse-ignore"
                    >
                        <a href="https://www.facebook.com/macjahisa">
                            Mačja hiša
                        </a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="i_signature">
    <div class="container">
        <span>Zavod Mačja hiša © 2018.</span>
        <i class="fas fa-square signature_divider" aria-hidden="true"></i>
        <span>Vse pravice pridržane.</span>
        <i class="fas fa-square signature_divider" aria-hidden="true"></i>
        <span id="zasebnostLink"><a href=<%= siteConfig.links.zasebnost %>>Zasebnost</a></span>
        <i class="fas fa-square signature_divider" aria-hidden="true"></i>
        <span>Izdelava:
      <a href=<%= siteConfig.external_links.mailto_jan_hacin %>>Jan Hacin</a>
    </span>
    </div>
</div>

<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"
        integrity="sha256-ULR2qlEu6WigJY4xQsDsJeW76e9tEE2EWjnKEQ+0L8Q=" crossorigin="anonymous"></script>
<% if (typeof isIndexPage !== "undefined") { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"
            integrity="sha256-7PSmF2ojY04Z7YCwG5wwvH+bdUxV1PPCIORvvTYHo7M=" crossorigin="anonymous"></script>
<% } %>
<% if (typeof needsSlickSlider !== "undefined") { %>
    <script type="text/javascript" src="/js/slick.min.js"></script>
<% } %>

<script type="text/javascript">
    $(document).ready(function() {
        if ($(".i_jumbo").length >= 1) {
            $(".i_jumbo").slick({
                dots: true,
                arrows: false,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 6000,
                infinite: true,
                fade: true,
                cssEase: "linear"
            });
        }

    });

    $("#imageZoom").click(function() {
        $('[data-fancybox="gallery"]')[0].click();
    });

    if ($('[data-fancybox="gallery"]').length > 0) {
        $('[data-fancybox="gallery"]').fancybox({
            // Options will go here
            loop: true,
            buttons: [
                "zoom",
                "close"
            ],
        });
    }

</script>

<% if (typeof needsJpList !== "undefined") { %>
    <script src="/js/jplist.core.min.js"></script>
    <script src="/js/jplist.textbox-filter.min.js"></script>
    <script src="/js/jplist.pagination-bundle.min.js"></script>
    <script src="/js/jplist.filter-dropdown-bundle.min.js"></script>
    <script src="/js/jplist.filter-toggle-bundle.min.js"></script>
<% }; %>
<script src="/js/main.js?v=1.0.1"></script>
<script type="text/javascript" src="/dist/bundle.js"></script>
<!-- Mailchimp popup -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) {
        L.start({ "baseUrl": "mc.us5.list-manage.com", "uuid": "d07acd44f9838ec72a617ce1f", "lid": "b794a4e2e2" })
    })</script>
<!-- End Mailchimp popup-->

</body>
</html>
