<!--Start partials/footer-->
<div class="with-bootstrap">
    <footer class="footer">
        <div class="bg-dark py-5 text-lightgray">
            <div class="container">
                <div class="row">
                    <div class="footer-links col-12 col-xl-8 text-center text-md-left py-2">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <h4 class="footer-links__title">Hitre povezave</h4>
                                <ul class="footer-links__list">
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.links.zavetisce_mh %>">
                                            Zavetišče MH
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.links.posvojitev_muce %>">
                                            Muce, ki iščejo dom
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.links.macji_boter %>">
                                            Posvojitev na daljavo
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="/dobrodelni-koncert">
                                            Dobrodelni koncert
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.links.zbirka_mh %>">
                                            Zbirka Mačje hiše
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.links.projekt_vita %>">
                                            Projekt Vita
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <h4 class="footer-links__title">Obiščite tudi</h4>
                                <ul class="footer-links__list">
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.external_links.mh_vet %>" target="_blank">
                                            Veterina MH
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.external_links.macji_boter %>" target="_blank">
                                            Mačji boter
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.external_links.super_combe %>" target="_blank">
                                            Trgovina Super čombe
                                        </a>
                                    </li>
                                    <li class="footer-links__list-item">
                                        <a href="<%= siteConfig.external_links.pomagamo_zivalim_forum %>" target="_blank">
                                            Forum Pomagamo živalim
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <h4 class="footer-links__title">Kontakt</h4>
                                <ul class="footer-links__list">
                                    <li class="footer-links__list-item">Zavod Mačja hiša</li>
                                    <li class="footer-links__list-item">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                        Groharjeva ulica 8, 3000 Celje
                                    </li>
                                    <li class="footer-links__list-item">
                                        <i class="fas fa-envelope" aria-hidden="true"></i>
                                        info@macjahisa.si
                                    </li>
                                    <li class="footer-links__list-item">
                                        <i class="fas fa-phone" aria-hidden="true"></i>
                                        040 937 959
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-social col-12 col-md-6 col-xl-4 d-flex flex-column text-center mx-auto py-2">
                        <div class="row mb-4">
                            <div class="col-4">
                                <a href="<%= siteConfig.external_links.mh_social_twitter %>" target="_blank">
                                    <i class="fab fa-twitter footer-social__icon" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="<%= siteConfig.external_links.mh_social_youtube %>" target="_blank">
                                    <i class="fab fa-youtube footer-social__icon" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="<%= siteConfig.external_links.mh_social_instagram %>" target="_blank">
                                    <i class="fab fa-instagram footer-social__icon" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <div
                                class="fb-page border border-lightgray"
                                data-href="<%= siteConfig.external_links.mh_social_facebook %>"
                                data-small-header="false"
                                data-adapt-container-width="true"
                                data-hide-cover="false"
                                data-show-facepile="false"
                            >
                                <blockquote cite="https://www.facebook.com/macjahisa" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/macjahisa">Mačja hiša</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-signature bg-dark-gray py-2 text-mediumgray">
            <div class="container">
                <div class="row flex-column flex-md-row justify-content-center align-items-center small">
                    <span class="py-1">
                        Zavod Mačja hiša © <%= new Date().getFullYear() %>.
                    </span>
                    <i class="fas fa-square footer-signature__divider" aria-hidden="true"></i>
                    <span class="py-1">
                        Vse pravice pridržane.
                    </span>
                    <i class="fas fa-square footer-signature__divider" aria-hidden="true"></i>
                    <span class="py-1">
                        <a href="<%= siteConfig.links.zasebnost %>">
                            Zasebnost
                        </a>
                    </span>
                    <i class="fas fa-square footer-signature__divider" aria-hidden="true"></i>
                    <span class="py-1">
                        Izdelava:
                        <a href="<%= siteConfig.external_links.mailto_jan_hacin %>" class="">
                            Jan Hacin
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"
></script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"
    integrity="sha256-ULR2qlEu6WigJY4xQsDsJeW76e9tEE2EWjnKEQ+0L8Q="
    crossorigin="anonymous"
></script>

<% if (typeof needsSlickSlider !== "undefined") { %>
    <script type="text/javascript" src="/js/slick.min.js"></script>
<% } %>

<script type="text/javascript">
    $(document).ready(function() {
        const $frontPageBanner = $('.i_jumbo');
        if ($frontPageBanner.length) {
            $frontPageBanner.slick({
                dots: true,
                arrows: false,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 6000,
                infinite: true,
                fade: true,
                cssEase: "linear"
            });
        }
    });

    $('#imageZoom').click(function() {
        $('[data-fancybox="gallery"]')[0].click();
    });

    $('[data-fancybox="gallery"]').fancybox({
        loop: true,
        buttons: [ "zoom", "close" ],
    });
</script>

<% if (typeof needsJpList !== "undefined") { %>
    <script src="/js/jplist.core.min.js"></script>
    <script src="/js/jplist.textbox-filter.min.js"></script>
    <script src="/js/jplist.pagination-bundle.min.js"></script>
    <script src="/js/jplist.filter-dropdown-bundle.min.js"></script>
    <script src="/js/jplist.filter-toggle-bundle.min.js"></script>
<% } %>

<script src="/js/main.js?v=<%= deployVersion %>"></script>
<script type="text/javascript" src="/dist/bundle.js?v=<%= deployVersion %>"></script>

<script
    type="text/javascript"
    src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"
></script>

<script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function(L) {
        L.start({
            "baseUrl": "mc.us5.list-manage.com",
            "uuid": "d07acd44f9838ec72a617ce1f",
            "lid": "b794a4e2e2"
        })
    })
</script>

</body>
</html>
<!--End partials/footer-->