    <!doctype html>
    <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MacjaHisa">
        <meta name="twitter:creator" content="@MacjaHisa">
        <% if (locals.social_description) { %>
        <meta name="description" content="<%= social_description %>" />
        <meta property="og:description" content="<%= social_description %>" />
        <meta name="twitter:description" content="<%= social_description %>">
        <% } else { %>
        <meta name="description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
        <meta property="og:description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
        <% } %>
        <title><%= title %></title>
        <meta property="og:url" content="<%= social_url %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= title %>" />
        <meta name="twitter:title" content="<%= title %>">
        <% if (locals.social_image) { %>
        <meta property="og:image" content="<%= social_image %>" />
        <meta name="twitter:image" content="<%= social_image %>">
        <% } else { %>
        <meta property="og:image" content="<%= social_image_default %>" />
        <meta name="twitter:image" content="<%= social_image_default %>">
        <% } %>
        <link rel="icon" href="/images/favicon.ico">



        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/css/stellarnav/stellarnav.min.css">
        <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
        <link rel="stylesheet" href="/tipuesearch/css/normalize.css">
        <script src="/tipuesearch/tipuesearch_content.js"></script>
        <script src="/tipuesearch/tipuesearch_set.js"></script>
        <script src="/tipuesearch/tipuesearch.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:#fff; clear:left; width:100%;}
        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
        <link rel="stylesheet" type="text/css" href="/css/jplist/jplist.core.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jplist/jplist.textbox-filter.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jplist/jplist.filter-toggle-bundle.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.pagination-bundle.min.css" integrity="sha256-XTBrlZtUCphfWhX2g0lriTnBYRhWPYl60zaLYBoPSpM=" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/sidebar.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/muce.css" />
        <link rel="stylesheet" href="/css/flex_md.css" media="(max-width: 1425px)"/>
        <link rel="stylesheet" href="/css/flex_sm.css" media="(max-width: 768px)"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css" integrity="sha256-rlldBDOCxqXAE1fRopHG2SqpgWisq17/3Oleo+1CBKo=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css" integrity="sha256-kQW7k22C0skJMSPxgEI2VHR0LPHeygi8SRYNvV/DB2w=" crossorigin="anonymous" />
      </head>
      <body>
        <!-- FACEBOOK JAVASCRIPT SDK -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1653543114703176',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.12'
            });

            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- END FACEBOOK JAVASCRIPT SDK -->
        <div class="navbar">
          <div class="logo">
            <a href="/"><img src="/files/page/logo.png" /></a>
          </div>
          <div class="nav_menu">

            <div class="stellarnav">

              <!-- PRIMARY MENU -->
              <ul>

                <li class="menu_primary">

                  <a href="/posvojitev/muce" class="kat_toggle">Posvojitev</a>
                  <ul>
                    <li><a href="/posvojitev/pogoji_in_postopek">Pogoji in postopek</a></li>
                    <!-- <li><a href="/posvojitev/pogoji_in_postopek">Postopek posvojitve</a></li> -->
                    <li><a href="/posvojitev/muce">Muce, ki iščejo dom</a></li>
                    <li><a href="/v_novem_domu/1">V novem domu</a></li>
                  </ul>
                </li>
                <li class="menu_primary">
                  <a href="#" class="kat_toggle">Vaša pomoč</a>
                  <ul>
                    <li><a href="/pomoc/nacini_pomoci">Načini pomoči</a></li>
                    <li><a href="/pomoc/donacije">Donacije</a></li>
                    <li><a href="/pomoc/dohodnina">Dohodnina</a></li>
                    <li><a href="http://www.macjiboter.si/" target="_blank">Posvojitev na daljavo</a></li>
                    <li><a href="/projekt_vita/predstavitev">Projekt Vita</a></li>
                  </ul>
                </li>
                <li class="menu_primary">
                  <a href="#" class="kat_toggle">Izobraževanje</a>
                  <ul>
                    <li><a href="/dobro_je_vedeti/sterilizacija_kastracija">Sterilizacija in kastracija</a></li>
                    <li><a href="/dobro_je_vedeti/izobrazevalne_vsebine">Izobraževalne vsebine MH</a></li>
                    <li><a href="/dobro_je_vedeti/koristne_informacije">Prispevki</a></li>
                    <li class="disabled_li"><a id="disabled_link">Kotiček za otroke <em>(v pripravi)</em></a></li>
                  </ul>
                </li>
                <li class="menu_secondary_mobile">
                  <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
                  <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
                  <li><a href="/novice">Novice</a></li>
                </li>
                <li class="nav_search_mobile">
                  <form action="/search">
                    <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                     <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                  </form>
                </li>

              </ul>
              <!-- END PRIMARY MENU -->

            </div><!-- END STELLARNAV -->

            <!-- SECONDARY MENU -->
            <div class="menu_secondary">
              <ul>
                <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
                <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
                <li><a href="/novice">Novice</a></li>
              </ul>
            </div>

            <!-- SEARCH FORM -->
            <div class="nav_search">
              <form action="/search">
                <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                 <button type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
              </form>
            </div>

          </div><!-- END NAV_MENU -->

          <div class="nav_donate">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
              <button type="submit"  border="0" alt="PayPal donacije">DONIRAJ</button>
            </form>
          </div>
        </div>
