<!--
<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MacjaHisa">
    <meta name="twitter:creator" content="@MacjaHisa">
    <% if (locals.social_description) { %>
    <meta name="description" content="<%= social_description %>" />
    <meta property="og:description" content="<%= social_description %>" />
    <meta name="twitter:description" content="<%= social_description %>">
    <% } else { %>
    <meta name="description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <meta property="og:description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <% } %>
    <title><%= title %></title>
    <meta property="og:url" content="<%= social_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta name="twitter:title" content="<%= title %>">
    <% if (locals.social_image) { %>
    <meta property="og:image" content="<%= social_image %>" />
    <meta name="twitter:image" content="<%= social_image %>">
    <% } else { %>
    <meta property="og:image" content="<%= social_image_default %>" />
    <meta name="twitter:image" content="<%= social_image_default %>">
    <% } %>
    <link rel="icon" href="/images/favicon.ico">




    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/stellarnav.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <link rel="stylesheet" href="/tipuesearch/css/normalize.css">
    <script src="/tipuesearch/tipuesearch_content.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <script src="/tipuesearch/tipuesearch_set.js"></script>
    <script src="/tipuesearch/tipuesearch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jplist.core.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jplist.textbox-filter.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jplist.filter-toggle-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/css/jplist.pagination-bundle.min.css" integrity="sha256-XTBrlZtUCphfWhX2g0lriTnBYRhWPYl60zaLYBoPSpM=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/muce.css" />
    <link rel="stylesheet" href="/css/flex_sm.css" />
  </head>
  <body>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1653543114703176',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.12'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>


    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>


    <div class="top_bar">
      <div class="container">
        <div class="top_bar_contact">
          <a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a>
          <a href="tel:040937959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a>
        </div>
        <div class="top_bar_social">
          <a href="http://www.macjiboter.si/" target="_blank">Mačji boter</a> |
          <a href="http://www.supercombe.si/" target="_blank">Super Čombe</a> |
          <a href="http://www.macjahisa-vet.si/" target="_blank">Veterina MH</a>
          <a href="https://www.facebook.com/MacjaHisa" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://twitter.com/MacjaHisa" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="http://www.youtube.com/channel/UC_Gq4voyvfoOCafJMNY0oHg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
          <a href="http://instagram.com/macjahisa" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/+macjahisa" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="jumbo">
      <div class="container">
        <div class="jumbo_logo">
          <a href="/">
            <img src="/images/logo.png" />
          </a>
        </div>
        <div class="jumbo_links">
          <div class="jumbo_button">
            <a href="/posvojitev/muce">
              <button>
                Posvojitev <i class="fa fa-paw" aria-hidden="true"></i>
              </button>
            </a>
          </div>
          <div class="jumbo_button">
            <a href="/pomoc/dohodnina">
              <button>
                Dohodnina <i class="fa fa-percent" aria-hidden="true"></i>
              </button>
            </a>
          </div>
          <div class="jumbo_button">
            <a href="/pomoc/donacije">
              <button>
                Donacije <i class="fa fa-heart" aria-hidden="true"></i>
              </button>
            </a>
          </div>
          <div class="jumbo_button">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
              <button type="submit"  border="0" alt="PayPal donacije">PayPal donacije <i class='fa fa-paypal' aria-hidden='true'></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="nav">
      <div class="container">
        <div class="mobile_logo">
          <a href="/">
            <img src="/images/logo_mobile.png" />
          </a>
        </div>
        <div class="mobile_top_contact">
          <a href="mailto:info@macjahisa.si"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@macjahisa.si</a><br />
          <a href="tel:040937959"><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</a>
        </div>
        <div class="stellarnav">
          <ul>
            <% nav_kategorije.forEach(function(kategorija){ %>
            <li class="nav_kategorija">
              <a class="<%= kategorija.naslov == 'V novem domu' ? '' : 'kat_toggle' %>" href="<%= kategorija.naslov == 'V novem domu' ? '/v_novem_domu/1' : '#' %>">

              <%= kategorija.naslov %>
              </a>

                <% if(kategorija.podstrani_length > 1) { %>
                  <ul class="nav_podstrani">
                    <% nav_podstrani.forEach(function(podstran){ %>
                      <% if (podstran.kategorija.equals(kategorija._id) && podstran.objava == "Da") { %>
                        <li class="nav_podstran"><a href="/<%= kategorija.url %>/<%= podstran.url %>"><%= podstran.naslov %></a></li>
                      <% }; %>
                    <% }); %>
                  </ul>
                <% }; %>
            </li>

            <% }); %>
            <li class="search">
              <form action="/search">
                <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                 <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="main"> -->
    <!doctype html>
    <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MacjaHisa">
        <meta name="twitter:creator" content="@MacjaHisa">
        <% if (locals.social_description) { %>
        <meta name="description" content="<%= social_description %>" />
        <meta property="og:description" content="<%= social_description %>" />
        <meta name="twitter:description" content="<%= social_description %>">
        <% } else { %>
        <meta name="description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
        <meta property="og:description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
        <% } %>
        <title><%= title %></title>
        <meta property="og:url" content="<%= social_url %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= title %>" />
        <meta name="twitter:title" content="<%= title %>">
        <% if (locals.social_image) { %>
        <meta property="og:image" content="<%= social_image %>" />
        <meta name="twitter:image" content="<%= social_image %>">
        <% } else { %>
        <meta property="og:image" content="<%= social_image_default %>" />
        <meta name="twitter:image" content="<%= social_image_default %>">
        <% } %>
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/main.css" />

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="all" href="/css/stellarnav.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
        <link rel="stylesheet" href="/tipuesearch/css/normalize.css">
        <script src="/tipuesearch/tipuesearch_content.js"></script>
        <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
        <script src="/tipuesearch/tipuesearch_set.js"></script>
        <script src="/tipuesearch/tipuesearch.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700,800,900&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/flex_md.css" />
        <link rel="stylesheet" href="/css/flex_sm.css" />

        <link rel="stylesheet" href="/css/sidebar.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/muce.css" />

      </head>
      <body>
        <!-- FACEBOOK JAVASCRIPT SDK -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1653543114703176',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.12'
            });

            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <!-- END FACEBOOK JAVASCRIPT SDK -->
        <div class="navbar">
          <div class="logo">
            <a href="/"><img src="/files/page/logo.png" /></a>
          </div>
          <div class="nav_menu">

            <div class="stellarnav">

              <!-- PRIMARY MENU -->
              <ul>

                <li class="menu_primary">

                  <a href="/posvojitev/muce" class="kat_toggle">Posvojitev</a>
                  <ul>
                    <li><a href="/posvojitev/pogoji_in_postopek">Pogoji za posvojitev</a></li>
                    <li><a href="/posvojitev/pogoji_in_postopek">Postopek posvojitve</a></li>
                    <li><a href="/posvojitev/muce">Muce, ki iščejo dom</a></li>
                    <li><a href="/v_novem_domu/1">V novem domu</a></li>
                  </ul>
                </li>
                <li class="menu_primary">
                  <a href="#" class="kat_toggle">Vaša pomoč</a>
                  <ul>
                    <li><a href="/pomoc/nacini_pomoci">Načini pomoči</a></li>
                    <li><a href="/pomoc/donacije">Donacije</a></li>
                    <li><a href="/pomoc/dohodnina">Dohodnina</a></li>
                    <li><a href="http://www.macjiboter.si/">Posvojitev na daljavo</a></li>
                    <li><a href="/projekt_vita/predstavitev">Projekt Vita</a></li>
                  </ul>
                </li>
                <li class="menu_primary">
                  <a href="#" class="kat_toggle">Izobraževanje</a>
                  <ul>
                    <li><a href="/dobro_je_vedeti/izobrazevalne_vsebine">Izobraževalne vsebine MH</a></li>
                    <li><a href="/dobro_je_vedeti/koristne_informacije">Prispevki</a></li>
                    <li><a href="#">Kotiček za otroke</a></li>
                  </ul>
                </li>
                <li class="menu_secondary_mobile">
                  <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
                  <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
                  <li><a href="/novice">Novice</a></li>
                </li>
                <li class="nav_search_mobile">
                  <form action="/search">
                    <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                     <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                </li>

              </ul>
              <!-- END PRIMARY MENU -->

            </div><!-- END STELLARNAV -->

            <!-- SECONDARY MENU -->
            <div class="menu_secondary">
              <ul>
                <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
                <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
                <li><a href="/novice">Novice</a></li>
              </ul>
            </div>

            <!-- SEARCH FORM -->
            <div class="nav_search">
              <form action="/search">
                <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                 <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>

          </div><!-- END NAV_MENU -->

          <div class="nav_donate">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
              <button type="submit"  border="0" alt="PayPal donacije">DONIRAJ</button>
            </form>
          </div>
        </div>
