    </div>


    <div class="sidebar">
      <div class="side_cats">
        <div class="side_header">Iščejo dom</div>
        <div class="side_cats_list">
          <% sidebar_muce.forEach(function(sidebar_muca) { %>
            <div class="side_cat">
              <a href="/posvojitev/muce/<%= sidebar_muca.dbid %>"><img src="/files/oglasi_muce/<%= sidebar_muca.file_name1 %>" alt="<%= sidebar_muca.ime %>"/></a>
              <h5><a href="/posvojitev/muce/<%= sidebar_muca.dbid %>"><%= sidebar_muca.ime %></a></h5>
            </div>
          <% }) %>
        </div>
        <div class="side_more">
          <div class="side_btn"><a href="/posvojitev/muce">Muce za posvojitev <i class="fas fa-caret-right" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="sidebar_img">
        <a href="/dobro_je_vedeti/sterilizacija_kastracija">
          <img src="/files/sidebar/sk.jpg" alt="Sterilizacija in kastracija">
        </a>
      </div>
      <div class="sidebar_social">
        <h3>Deli vsebino:</h3>
        <!-- Če še ni lokalnih social variablov -->
        <% if (typeof social_description == "undefined") {
          social_description = "Mačja hiša je projekt Društva za pomoč živalim v stiski SLO, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk.";
        }
        %>
        <div class="share_buttons">
          <div class="fb-like"
            data-href="<%= social_url %>"
            data-layout="button"
            data-action="like"
            data-show-faces="true">
          </div>
          <div class="fb-share-button"
            data-href="<%= social_url %>"
            data-layout="button">
          </div>
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
            data-text="<%= social_description %>">
          <i class="fab fa-twitter"></i> Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>
