<!--Start partials/sidebar-->
<%
if (typeof social_description === "undefined") {
    social_description = siteConfig.social_description_default;
}
%>

<div class="content-sidebar">
    <div class="row">
        <% sidebar_muce.forEach(function(muca) { %>
        <div class="col-12 col-sm-4 col-lg-12">
            <section class="rounded border border-gray-2 shadow-sm">
                <a href="/posvojitev/muce/<%= muca.dbid %>">
                    <img
                            src="/files/oglasi_muce/<%= muca.file_name1 %>"
                            alt="<%= muca.ime %>"
                            class="img-fluid hover-sepia"
                    />
                    <h6 class="bg-gray-1 text-dark text-center mb-0 py-1"><strong><%= muca.ime %></strong></h6>
                </a>
            </section>
        </div>
        <% }) %>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-12">
            <section class="rounded shadow-sm">
                <a
                    href="<%= siteConfig.external_links.mailing_sub %>"
                    target="_blank"
                    class="d-block text-dark btn btn-gray-1 border border-gray-2"
                >
                    <span class="font-weight-light">Naroči se na <span class="font-weight-bold">e-novice</span></span>
                    <i class="far fa-envelope d-block font-size-xl text-secondary"></i>
                </a>
            </section>
        </div>
        <div class="col-12 col-sm-6 col-lg-12">
            <section class="text-dark pt-2 text-center">
                <h6 class="text-center"><strong>Deli vsebino</strong></h6>
                <div class="row align-items-center">
                    <div
                        class="fb-like col-12"
                        data-href="<%= social_url %>"
                        data-layout="button_count"
                        data-action="like"
                        data-share="true"
                    ></div>
                    <div class="col-12 mt-1">
                        <a
                            class="twitter-share-button"
                            href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
                            data-text="<%= social_description %>"
                        >
                            <i class="fab fa-twitter"></i>
                            Deli na Twitterju
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!--End partials/sidebar-->