    </div>
    <div class="sidebar">
      <div class="side_news">
        <div class="side_header">Novice</div>
        <div class="side_news_list">
          <% sidebar_novice.forEach(function(sidebar_novica) { %>
            <div class="side_news_item">
              <h3><a href="/novice/<%= sidebar_novica.dbid %>"><%= sidebar_novica.naslov %></a></h3>
              <p><%- sidebar_novica.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %>
                <a href="/novice/<%= sidebar_novica.dbid %>">
                  <i class="fa fa-forward" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          <% }) %>
        </div>
        <div class="side_more">
          <div class="side_btn"><a href="/novice">Vse novice <i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="side_cats">
        <div class="side_header">Iščejo dom</div>
        <div class="side_cats_list">
          <% sidebar_muce.forEach(function(sidebar_muca) { %>
            <div class="side_cat">
              <a href="/posvojitev/muce/<%= sidebar_muca.dbid %>"><img src="/files/oglasi_muce/<%= sidebar_muca.file_name1 %>" /></a>
              <h5><a href="/posvojitev/muce/<%= sidebar_muca.dbid %>"><%= sidebar_muca.ime %></a></h5>
            </div>
          <% }) %>
        </div>
        <div class="side_more">
          <div class="side_btn"><a href="/posvojitev/muce">Vse muce <i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
