<% include ../../partials/admin/header %>
<p><a href="/admin/naslovnice"><< Nazaj</a></p>
<h3>Urejanje naslovnice</h3>

<form action="/admin/naslovnice/<%= naslovnica._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <div>
    <label for="naslovnica[ozadje]">Ozadje:</label>
    <input type="file" accept="image/*" name="naslovnica[ozadje]" id="ozadje" size="70" value="<%= naslovnica.ozadje %>"/>
    <strong>Opomba: </strong> pred nalaganjem slike jo skompresiraj v spletnem orodju <a style="color: orange; font-weight: bold;" href="https://tinypng.com/" target="_blank">TinyPNG</a>.
  </div>
  <div class="required">
    <label for="naslovnica[naslov]">Naslov:</label>
    <input type="text" name="naslovnica[naslov]" id="naslov" size="70" value="<%= naslovnica.naslov %>" autofocus required/>
  </div>
  <div>
    <label for="naslovnica[podnaslov]">Podnaslov:</label>
    <input type="text" name="naslovnica[podnaslov]" id="podnaslov" size="70" value="<%= naslovnica.podnaslov %>" />
  </div>
  <div class="required">
    <label for="naslovnica[napisNaGumbu]">Napis na gumbu:</label>
    <input type="text" name="naslovnica[napisNaGumbu]" id="napisNaGumbu" size="70" value="<%= naslovnica.napisNaGumbu %>" required/>
  </div>
  <div class="required">
    <label for="naslovnica[povezava]">Povezava:</label>
    <input type="url" name="naslovnica[povezava]" id="povezava" size="70" value="<%= naslovnica.povezava %>" required/>
    <input type="checkbox" name="externalURL" <%= naslovnica.externalURL ? 'checked' : '' %>>
    <label class="form-check-label" for="externalURL">
      Povezava na zunanjo stran (odprta bo v novem zavihku)
    </label>
  </div>
  <div class="naslovnicaRange">
    <label for="formControlRange">Izrez ozadja po višini (% od vrha)</label>
    <input type="range" name="rangeInput" id="naslovnicaRangeInput" min="0" max="100" value="<%= naslovnica.cssBackgroundPositionVertical %>">
    <span id="naslovnicaRangeValue"><%= naslovnica.cssBackgroundPositionVertical %>%</span>
  </div>
  <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Potrdi spremembe</button>
</form>
<button class="btn btn-warning" id="naslovnicaPreviewLoadButton"><i class="far fa-eye"></i> Pokaži predogled</button>
<button class="btn btn-info" id="naslovnicaPreviewReloadButton"> <i class="fas fa-sync"></i> Osveži predogled</button>
<p></p>
<div id="naslovnicaPreview">
  <div class="i_jumbo">
    <div id="naslovnica" style="background-position: 50% <%= naslovnica.cssBackgroundPositionVertical %>%; background-image: url(/files/naslovnice/<%= naslovnica.ozadje.split(" ").join("%20") %>);">
      <div class="i_jumbo_text">
        <h1 class="i_jumbo_title"><%- naslovnica.naslov %></h1>
        <h2 class="i_jumbo_subtitle"><%- naslovnica.podnaslov %></h2>
        <a class="jumbo_povezava" href="<%= naslovnica.povezava %>" target="_blank"><button class="i_jumbo_button"><%- naslovnica.napisNaGumbu %></button></a>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/admin/footer %>
