<% include ./partials/header %>

    <div class="i_jumbo">
      <% naslovnice.forEach(function(naslovnica) { %>
        <div class="naslovnica" style="background-position: 50% <%= naslovnica.cssBackgroundPositionVertical %>%; background-image: url(/files/naslovnice/<%= naslovnica.ozadje %>);">
          <div class="i_jumbo_text">
            <h1 class="i_jumbo_title"><%- naslovnica.naslov %></h1>
            <h2 class="i_jumbo_subtitle"><%- naslovnica.podnaslov %></h2>
            <button class="i_jumbo_button"><a href="<%= naslovnica.povezava %>" target="<%= naslovnica.externalURL ? '_blank' : '_top' %>"><%- naslovnica.napisNaGumbu %></a></button>
          </div>
        </div>
      <% }); %>
    </div>
    <div class="i_dohodnina">
      <p>Donacija 0,5 % dohodnine nevladnim organizacijam je za vas <strong>popolnoma brezplačna</strong>, saj bi sicer ta del pustili v državnem proračunu.</p>
      <p>Vas ne stane nič, nam pa veliko pomeni.</p>
      <button><a href="/pomoc/dohodnina">Namenite nam del dohodnine <i class="fas fa-angle-double-right"></i></a></button>
    </div>
    <div class="i_muce">
      <div class="i_muce_head">
        <h1>Iščejo dom</h1>
      </div>
      <div class="i_muce_reel">
        <% muce.forEach(function(muca){ %>
          <div class="i_muca">
            <div class="i_muca_img">
              <a href="posvojitev/muce/<%= muca.dbid %>"><img class="lazy" data-src="/files/oglasi_muce/<%= muca.file_name1 %>" alt="<%= muca.ime %>"/></a>
            </div>
            <div class="i_muca_txt">
              <h3><a href="posvojitev/muce/<%= muca.dbid %>"><%= muca.ime %></a></h3>
            </div>
          </div>
        <% }); %>
      </div>
      <a href="/posvojitev/muce"><button>Vse muce za posvojitev <i class="fas fa-angle-double-right"></i></button></a>
    </div>
    <div class="divider">
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="i_mailing">
      <a href="http://eepurl.com/dskgr1" target="_blank">
        <button class="mailingButton">
          Naroči se na e-novice <i class="fas fa-angle-double-right"></i>
        </button>
      </a>
    </div>
    <div class="i_help lazy" data-src="/files/index/6.jpg">
      <h1>Kako nas še lahko podprete?</h1>
      <div class="help_reel">
        <div class="help_item">
          <i class="fas fa-shopping-cart" aria-hidden="true"></i>
          <h3>Veterina in trgovina</h3>
          <hr />
          <p>Z nakupovanjem v trgovini <span class="orange">Super Čombe</span> in uporabo storitev na <span class="orange">Veterini MH</span>.</p>
        </div>
        <div class="help_item">
          <i class="fas fa-users" aria-hidden="true"></i>
          <h3>Prostovoljstvo</h3>
          <hr />
          <p>Pomoč pri začasnem nameščanju muc, delu s potencialnimi posvojitelji, delu na terenu, ipd.</p>
        </div>
        <div class="help_item">
          <i class="fas fa-share-alt" aria-hidden="true"></i>
          <h3>Socialna omrežja</h3>
          <hr />
          <p>Naše objave lahko spremljate in delite na forumu <span class="orange">Pomagamo živalim</span> ter našem <span class="orange">Twitterju</span> in <span class="orange">Facebooku</span>.</p>
        </div>
      </div>
    </div>
    <div class="i_edu">
      <h1>Več znaš, več veljaš</h1>
      <div class="i_edu_img">
        <img class="lazy" data-src="/files/index/edu1.jpg" alt="Izobraževalne vsebine Mačje hiše"/>
        <img class="lazy" data-src="/files/index/edu2.jpg" alt="Izobraževalne vsebine Mačje hiše"/>
      </div>
      <div class="i_boter_txt">
        Predstavljamo novost - <strong>izobraževalne vsebine</strong> Mačje hiše. Članke in letake lahko v PDF formatu shranite na svoj računalnik, jih preberete in natisnete. Zelo veseli bomo tudi, če jih boste delili s prijatelji.
      </div>
      <a href="/dobro-je-vedeti/izobrazevalne-vsebine"><button>Preberi več <i class="fas fa-angle-double-right"></i></button></a>
    </div>
    <div class="i_donate lazy" data-src="/files/page/doniraj1.jpg">
      <h2>Podprite naše delo in nam pomagajte oskrbeti številne brezdomne muce.</h2>
      <button><a href="/pomoc/donacije">Doniraj</a></button>
    </div>
    <div class="i_boter">
      <h1>Mačji boter</h1>
      <img class="lazy" data-src="/files/index/boter.png" alt="Mačji boter"/>
      <div class="i_boter_txt">
        Mačji boter je projekt Mačje hiše, ki omogoča <strong>posvojitve muck na daljavo</strong>. Namenjen je vsem tistim, ki nam želite pomagati pri oskrbi nekoč brezdomnih muck. Gre za obliko donacije, ki donatorja poveže z določenim mucem ali skupino mucov in mu hkrati omogoča boljši vpogled v to, za kaj je bil porabljen njegov prispevek.
      </div>
      <a href="http://www.macjiboter.si/" target="_blank"><button>Posvoji muco na daljavo <i class="fas fa-angle-double-right"></i></button></a>
    </div>

<% include ./partials/footer %>
