<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MacjaHisa">
    <meta name="twitter:creator" content="@MacjaHisa">
    <% if (locals.social_description) { %>
    <meta name="description" content="<%= social_description %>" />
    <meta property="og:description" content="<%= social_description %>" />
    <meta name="twitter:description" content="<%= social_description %>">
    <% } else { %>
    <meta name="description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <meta property="og:description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <% } %>
    <title><%= title %></title>
    <meta property="og:url" content="<%= social_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta name="twitter:title" content="<%= title %>">
    <% if (locals.social_image) { %>
    <meta property="og:image" content="<%= social_image %>" />
    <meta name="twitter:image" content="<%= social_image %>">
    <% } else { %>
    <meta property="og:image" content="<%= social_image_default %>" />
    <meta name="twitter:image" content="<%= social_image_default %>">
    <% } %>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/css/stellarnav.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <link rel="stylesheet" href="/tipuesearch/css/normalize.css">
    <script src="/tipuesearch/tipuesearch_content.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <script src="/tipuesearch/tipuesearch_set.js"></script>
    <script src="/tipuesearch/tipuesearch.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
    <link rel="stylesheet" href="/css/index_yellow.css" />
    <link rel="stylesheet" href="/css/flex_md.css" />
    <link rel="stylesheet" href="/css/flex_sm.css" />
  </head>
  <body>
    <!-- FACEBOOK JAVASCRIPT SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1653543114703176',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.12'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- END FACEBOOK JAVASCRIPT SDK -->
    <div class="navbar">
      <div class="logo">
        <img src="/files/page/logo.png" />
      </div>
      <div class="nav_menu">

        <div class="stellarnav">

          <!-- PRIMARY MENU -->
          <ul>

            <li class="menu_primary">

              <a href="/posvojitev/muce" class="kat_toggle">Posvojitev</a>
              <ul>
                <li><a href="/posvojitev/pogoji_in_postopek">Pogoji za posvojitev</a></li>
                <li><a href="/posvojitev/pogoji_in_postopek">Postopek posvojitve</a></li>
                <li><a href="/posvojitev/muce">Muce, ki iščejo dom</a></li>
                <li><a href="/v_novem_domu/1">V novem domu</a></li>
              </ul>
            </li>
            <li class="menu_primary">
              <a href="#" class="kat_toggle">Vaša pomoč</a>
              <ul>
                <li><a href="/pomoc/nacini_pomoci">Načini pomoči</a></li>
                <li><a href="/pomoc/donacije">Donacije</a></li>
                <li><a href="/pomoc/dohodnina">Dohodnina</a></li>
                <li><a href="http://www.macjiboter.si/">Posvojitev na daljavo</a></li>
                <li><a href="/projekt_vita/predstavitev">Projekt Vita</a></li>
              </ul>
            </li>
            <li class="menu_primary">
              <a href="#" class="kat_toggle">Izobraževanje</a>
              <ul>
                <li><a href="/dobro_je_vedeti/izobrazevalne_vsebine">Izobraževalne vsebine MH</a></li>
                <li><a href="/dobro_je_vedeti/koristne_informacije">Prispevki</a></li>
                <li><a href="#">Kotiček za otroke</a></li>
              </ul>
            </li>
            <li class="menu_secondary_mobile">
              <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
              <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
              <li><a href="/novice">Novice</a></li>
            </li>
            <li class="nav_search_mobile">
              <form action="/search">
                <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
                 <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </li>

          </ul>
          <!-- END PRIMARY MENU -->

        </div><!-- END STELLARNAV -->

        <!-- SECONDARY MENU -->
        <div class="menu_secondary">
          <ul>
            <li><a href="/o_nas/kdo_smo">Naše delo</a></li>
            <li><a href="/o_nas/zavetisce_mh">Zavetišče MH</a></li>
            <li><a href="/novice">Novice</a></li>
          </ul>
        </div>

        <!-- SEARCH FORM -->
        <div class="nav_search">
          <form action="/search">
            <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
             <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>



      </div><!-- END NAV_MENU -->

      <div class="nav_donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
          <button type="submit"  border="0" alt="PayPal donacije">DONIRAJ</button>
        </form>
      </div>


    </div>

    <div class="i_jumbo">
      <div class="i_jumbo_1">
        <div class="i_jumbo_text">
          <h1 class="i_jumbo_title">Posvojitev muce</h1>
          <h2 class="i_jumbo_subtitle">Na čisto svoj dom čaka kar <strong><%= steviloMucKiIscejoDom %></strong> muc.</h2>
          <button class="i_jumbo_button">Muce, ki iščejo dom</button>
        </div>
      </div>
      <div class="i_jumbo_2">
        <div class="i_jumbo_text">
          <h1 class="i_jumbo_title">Postanite mačji boter</h1>
          <h2 class="i_jumbo_subtitle">Pokažite, da vam ni vseeno.</h2>
          <button class="i_jumbo_button">Muce, ki iščejo botra</button>
        </div>
      </div>
    </div>
    <div class="i_dohodnina">
      <p>Donacija 0,5 % dohodnine nevladnim organizacijam je za vas <strong>popolnoma brezplačna</strong>, saj bi sicer ta del pustili v državnem proračunu.</p>
      <p>Vas ne stane nič, nam pa veliko pomeni.</p>
      <button>Namenite nam del dohodnine</button>
    </div>
    <div class="i_muce">
      <div class="i_muce_head">
        <h1>Iščejo dom</h1>
      </div>
      <div class="i_muce_reel">
        <% muce.forEach(function(muca){ %>
          <div class="i_muca">
            <div class="i_muca_img">
              <a href="posvojitev/muce/<%= muca.dbid %>"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" /></a>
            </div>
            <div class="i_muca_txt">
              <h3><a href="posvojitev/muce/<%= muca.dbid %>"><%= muca.ime %></a></h3>
            </div>
          </div>
        <% }); %>
      </div>
      <button>Vse muce za posvojitev</button>
    </div>
    <div class="divider">
      <i class="fa fa-ellipsis-h"></i>
      <!-- <img src="/files/page/section_divider.jpg" /> -->
    </div>
    <div class="i_mailing">
      <h2>Naroči se na e-novice</h2>
      <div id="mc_embed_signup">
        <form action="https://macjahisa.us5.list-manage.com/subscribe/post?u=d07acd44f9838ec72a617ce1f&amp;id=b794a4e2e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e-naslov" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d07acd44f9838ec72a617ce1f_b794a4e2e2" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Potrdi" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
      </div>
    </div>
    <div class="i_help">
      <h1>Kako nas še lahko podprete?</h1>
      <div class="help_reel">
        <div class="help_item">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <h3>Veterina in trgovina</h3>
          <hr />
          <p>Z nakupovanjem v trgovini <span class="orange">Super Čombe</span> in uporabo storitev na <span class="orange">Veterini MH</span>.</p>
        </div>
        <div class="help_item">
          <i class="fa fa-users" aria-hidden="true"></i>
          <h3>Prostovoljstvo</h3>
          <hr />
          <p>Pomoč pri začasnem nameščanju muc, delu s potencialnimi posvojitelji, delu na terenu, ipd.</p>
        </div>
        <div class="help_item">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <h3>Socialna omrežja</h3>
          <hr />
          <p>Naše objave lahko spremljate in delite na forumu <span class="orange">Pomagamo živalim</span> ter našem <span class="orange">Twitterju</span> in <span class="orange">Facebooku</span>.</p>
        </div>
      </div>
    </div>
    <div class="i_edu">
      <h1>Več znaš, več veljaš</h1>
      <div class="i_edu_img">
        <img src="/files/index/edu1.jpg" />
        <img src="/files/index/edu2.jpg" />
      </div>
      <p>Predstavljamo novost - <strong>izobraževalne vsebine</strong> Mačje hiše.</p>
      <p>Članke in letake lahko v PDF formatu shranite na svoj računalnik, jih preberete in natisnete.</p>
      <p>Zelo veseli bomo tudi, če jih boste delili s prijatelji.</p>
      <button>Preberi več</button>
    </div>
    <div class="i_donate">
      <h2>Podprite naše delo in nam pomagajte oskrbeti številne brezdomne muce.</h2>
      <button>DONIRAJ</button>
    </div>
    <div class="i_boter">
      <h1>Mačji boter</h1>
      <img src="/files/index/boter.png" />
      <div class="i_boter_txt">
        Mačji boter je projekt Mačje hiše, ki omogoča <strong>posvojitve muck na daljavo</strong>. Namenjen je vsem tistim, ki nam želite pomagati pri oskrbi nekoč brezdomnih muck. Gre za obliko donacije, ki donatorja poveže z določenim mucem ali skupino mucov in mu hkrati omogoča boljši vpogled v to, za kaj je bil porabljen njegov prispevek.
      </div>
      <button>Posvoji muco na daljavo</button>
    </div>
    <!-- Kasneje prestavi v partial in spremeni classe -->
    <div class="i_footer">
      <div class="container">
        <div>
          <h3>Hitre povezave</h3>
          <ul>
            <li>Zavetišče MH</li>
            <li>Muce, ki iščejo dom</li>
            <li>Posvojitev na daljavo</li>
            <li>Izobraževanje</li>
            <li>Projekt Vita</li>
          </ul>
        </div>
        <div>
          <h3>Obiščite tudi</h3>
          <ul>
            <li>Veterina MH</li>
            <li>Mačji boter</li>
            <li>Trgovina Super čombe</li>
            <li>Forum Pomagamo živalim</li>
          </ul>
        </div>
        <div>
          <h3>Kontakt</h3>
          <ul>
            <li>Zavod Mačja hiša</li>
            <li><i class="fa fa-home" aria-hidden="true"></i> Groharjeva ulica 8, 3000 Celje</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> info@macjahisa.si</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> 040 937 959</li>
          </ul>
        </div>
        <div>
          <div class="social_buttons">
            <a href="https://twitter.com/MacjaHisa" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://www.youtube.com/channel/UC_Gq4voyvfoOCafJMNY0oHg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="http://instagram.com/macjahisa" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/+macjahisa" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </div>
          <div class="fb_banner">
            <div class="fb-page" data-href="https://www.facebook.com/macjahisa" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/macjahisa" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/macjahisa">Mačja hiša</a></blockquote></div>
          </div>
        </div>
      </div>
    </div>
    <div class="i_signature">
      <div class="container">
        Zavod Mačja hiša © 2018<i class="fa fa-square signature_divider" aria-hidden="true"></i>Vse pravice pridržane<i class="fa fa-square signature_divider" aria-hidden="true"></i>Izdelava: <a href="mailto:jan.hacin@gmail.com">Jan Hacin</a></div>
      </div>
    </div>
    <!-- BACK TO TOP BUTTON -->
    <a href="#" class="i_scrollToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <!-- SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/stellarnav.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script type="text/javascript">
              $(document).on('ready', function () {
                $(".stellarnav").stellarNav({
                  position: "left",
                  breakpoint: 1350,
                  showArrows: false
                });

                  $(".i_jumbo").slick({
                    dots: true,
                    arrows: false,
                    slidesToShow: 1,
                    autoplay: true,
                    autoplaySpeed: 15000,
                    infinite: true
                  });

                $(window).scroll(function(){
                  if($(this).scrollTop() > 100) {
                    $(".i_scrollToTop").fadeIn();
                  } else {
                    $(".i_scrollToTop").fadeOut();
                  }
                });

                // scroll to top on btn click
                $(".i_scrollToTop").click(function(){
                  $("html, body").animate({scrollTop: 0}, 600);
                  return false;
                });
              });
    </script>

</body>
</html>
