<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MacjaHisa">
    <meta name="twitter:creator" content="@MacjaHisa">
    <% if (locals.social_description) { %>
    <meta name="description" content="<%= social_description %>" />
    <meta property="og:description" content="<%= social_description %>" />
    <meta name="twitter:description" content="<%= social_description %>">
    <% } else { %>
    <meta name="description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <meta property="og:description" content="Mačja hiša je projekt Društva za pomoč živalim v stiski Slovenija, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats Protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk." />
    <% } %>
    <title><%= title %></title>
    <meta property="og:url" content="<%= social_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta name="twitter:title" content="<%= title %>">
    <% if (locals.social_image) { %>
    <meta property="og:image" content="<%= social_image %>" />
    <meta name="twitter:image" content="<%= social_image %>">
    <% } else { %>
    <meta property="og:image" content="<%= social_image_default %>" />
    <meta name="twitter:image" content="<%= social_image_default %>">
    <% } %>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/flex_sm.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/css/stellarnav.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <link rel="stylesheet" href="/tipuesearch/css/normalize.css">
    <script src="/tipuesearch/tipuesearch_content.js"></script>
    <link rel="stylesheet" href="/tipuesearch/css/tipuesearch.css">
    <script src="/tipuesearch/tipuesearch_set.js"></script>
    <script src="/tipuesearch/tipuesearch.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" />

  </head>
  <body>
    <!-- FACEBOOK JAVASCRIPT SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1653543114703176',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.12'
        });

        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- END FACEBOOK JAVASCRIPT SDK -->
    <div class="navbar">
      <div class="logo">
        <img src="/files/page/logo.png" />
      </div>
      <div class="nav_menu">
        <div class="menu_primary">
          <ul>
            <li>Posvojitev</li>
            <li>Donacije</li>
            <li>Izobraževanje</li>
          </ul>
        </div>

        <div class="menu_secondary">
          <ul>
            <li>O nas</li>
            <li>Zavetišče MH</li>
            <li>Vaša pomoč</li>
            <li>V novem domu</li>
            <li>Projekt Vita</li>
          </ul>
          <div class="nav_search">
            <form action="/search">
              <input type="text" placeholder="Išči..." name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required oninvalid="this.setCustomValidity('Prosimo, vnesite iskalno zahtevo.')" oninput="setCustomValidity('')"/>
               <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>

      </div>
      <div class="nav_donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="3T8VTPP8R7H74">
          <button type="submit"  border="0" alt="PayPal donacije">DONIRAJ</button>
        </form>
      </div>
    </div>
    <div class="i_jumbo">
      <div class="i_jumbo_text">
        <h1 class="i_jumbo_title">Naslov</h1>
        <h2 class="i_jumbo_subtitle">Podnaslov</h2>
        <button class="i_jumbo_button">Gumb</button>
      </div>
    </div>
    <div class="i_dohodnina">

      <h1>Namenite nam del dohodnine</h1>
      <p>Donacija 0,5 % dohodnine nevladnim organizacijam je za vas <strong>popolnoma brezplačna</strong>, saj bi sicer ta del pustili v državnem proračunu.</p>
      <p>Z vašo pomočjo bomo lahko pomagali še večjemu številu muc!</p>
    </div>
    <div class="i_muce">

    </div>
    <div class="i_mailing">

    </div>
    <div class="i_help">

    </div>
    <div class="i_edu">

    </div>
    <div class="i_donate">

    </div>
    <div class="i_boter">

    </div>
<!-- <% include ./partials/footer %> -->
