<% include ./partials/header %>

      <div class="index_news">
        <div class="container">
          <div class="index_heading">
            <h2>Novice</h2>
            <hr />
          </div>
          <div class="news_reel">
            <% novice.forEach(function(novica){ %>
              <div class="news_item">

                <a href="/novice/<%= novica._id %>"><img src="/files/<%= novica.naslovna_slika %>" /></a>
                <h3><a href="/novice/<%= novica._id %>"><%= novica.naslov %></a></h3>
                <p><%- novica.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %> <a href="/novice/<%= novica._id %>"><i class="fa fa-forward" aria-hidden="true"></i></a></p>
              </div>
            <% }); %>
          </div>
          <div class="index_more">
            <a href="/novice"><button class="index_btn">Arhiv novic <i class="fa fa-caret-right" aria-hidden="true"></i></button></a>
          </div>
        </div>
      </div>
      <div class="index_cats">
        <div class="container">
          <div class="index_heading">
            <h2>Muce, ki iščejo dom</h2>
            <hr />
          </div>
          <div class="cat_reel">
            <% muce.forEach(function(muca){ %>
              <div class="index_cat">
                <a href="posvojitev/muce/<%= muca._id %>"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" /></a>
                <h3><a href="posvojitev/muce/<%= muca._id %>"><%= muca.ime %></a></h3>
              </div>
            <% }); %>
          </div>
          <div class="index_more">
            <a href="/posvojitev/muce"><button class="index_btn">Vse muce, ki še nimajo svojega kavča <i class="fa fa-caret-right" aria-hidden="true"></i></button></a>
          </div>
        </div>
      </div>
      <div class="index_help">
        <div class="container">
          <div class="index_heading">
            <h2>Podprite nas</h2>
            <hr />
          </div>
          <div class="help_reel">
            <div class="help_item">
              <h3>Oblika pomoči #1</h3>
              <img src="/images/help1.jpg" />
              <p>Sleep in the bathroom sink annoy kitten brother with poking jump off balcony, onto stranger's head but slap owner's face at 5am until human fills food dish.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #2</h3>
              <img src="/images/help2.jpg" />
              <p>Meow meow, i tell my human hide at bottom of staircase to trip human or stare at the wall, play with food and get confused by dust for kitty ipsum dolor sit amet.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #3</h3>
              <img src="/images/help3.jpg" />
              <p>Wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again eats owners hair then claws head, or meow all night.</p>
            </div>
            <div class="help_item">
              <h3>Oblika pomoči #4</h3>
              <img src="/images/help4.jpg" />
              <p>Unwrap toilet paper pose purrfectly to show my beauty destroy the blinds scratch me there, elevator butt knock dish off table.</p>
            </div>
          </div>
          <div class="index_more">
            <a href="/pomoc/nacini_pomoci"><button class="index_btn">Kako nam lahko pomagate?</button></a>
          </div>
        </div>
      </div>
      </div>

<% include ./partials/footer %>
