        <% if(typeof clanek !== "undefined") { %>
        <meta name="description" content="<%= clanek.SEOmetaDescription %>" />
        <meta property="og:description" content="<%= clanek.SEOfbDescription %>" />
        <meta name="twitter:description" content="<%= clanek.SEOtwitterDescription %>">
        <title><%= clanek.SEOmetaTitle %></title>
        <meta property="og:title" content="<%= clanek.SEOfbTitle %>" />
        <meta name="twitter:title" content="<%= clanek.SEOtwitterTitle %>">
        <% }; %>

        <% if(typeof muca !== "undefined") { %>
        <meta name="description" content="<%= muca.SEOmetaDescription %>" />
        <meta property="og:description" content="<%= muca.SEOfbDescription %>" />
        <meta name="twitter:description" content="<%= muca.SEOtwitterDescription %>">
        <title><%= muca.SEOmetaTitle %></title>
        <meta property="og:title" content="<%= muca.SEOfbTitle %>" />
        <meta name="twitter:title" content="<%= muca.SEOtwitterTitle %>">
        <% }; %>

        <% if(typeof podstran !== "undefined") { %>
        <meta name="description" content="<%= podstran.SEOmetaDescription %>" />
        <meta property="og:description" content="<%= podstran.SEOfbDescription %>" />
        <meta name="twitter:description" content="<%= podstran.SEOtwitterDescription %>">
        <title><%= podstran.SEOmetaTitle %></title>
        <meta property="og:title" content="<%= podstran.SEOfbTitle %>" />
        <meta name="twitter:title" content="<%= podstran.SEOtwitterTitle %>">
        <% }; %>
