<% include ../../partials/admin/header %>
<% include ../../partials/functions/muce %>
<p><a href="/admin/muce/iscejo"><< Nazaj</a></p>

<h3>Vnesi novo muco</h3>

<form class="cmsForm">
  <div class="required">
    <label for="ime">ime:</label>
    <input type="text" id="ime" autofocus name="ime" required/>
  </div>
  <div class="required">
    <label for="datum">datum sprejema:</label>
    <input type="date" id="datum" name="datum" value="" required/>
  </div>
  <div class="required">
    <label for="status">stanje:</label>
    <select id="status" name="status">
      <option selected disabled></option>
      <option value="1">oddaja se prvič</option>
      <option value="2">oddaja se ponovno</option>
      <option value="3">se ne oddaja oz. bo ostal/-a za nedoločen čas</option>
      <option value="4">v novem domu</option>
      <option value="5">R.I.P.</option>
    </select>
  </div>

  <div class="required">
    <label for="mesec_rojstva">mesec rojstva:</label>
    <input type="month" id="mesec_rojstva" name="mesec_rojstva" required/>
  </div>
  <div>
    <label for="spol">spol:</label>
    <select id="spol" name="spol">
      <option selected disabled>--</option>
      <option value="1">samček</option>
      <option value="2">samička</option>
      <option value="3">samček in samička</option>
      <option value="4">neznano</option>
    </select>
  </div>
  <div>
    <label for="opis">opis:</label>
    <textarea id="summernote" name="opis" required></textarea>
  </div>
  <div>
    <label for="kontakt">kontakt:</label>
    <select id="kontakt" name="kontakt">
      <% kontakti.forEach(function(kontakt){ %>
        <% var k = sestavaKontaktaCMS(kontakt.email, kontakt.tel); %>
        <option value="<%= k %>" <%= kontakt.email == "info@macjahisa.si" ? "selected" : "" %>><%= "(" + kontakt.ime + ") " + k %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="posvojitev_na_daljavo">posvojitev_na_daljavo:</label>
    <select id="posvojitev_na_daljavo" name="posvojitev_na_daljavo">
      <option selected disabled>--</option>
      <option value="0">ne</option>
      <option value="1">da</option>
    </select>
  </div>
  <div>
    <hr />
    <h4>Veterinarski status:</h4>
    <div>
      <label for="vet[s_k]">Sterilizirana / kastriran:</label>
      <input type="checkbox" id="vet[s_k]" name="vet[s_k]" /><br />
      <label for="vet[cipiranje]">Čipirana:</label>
      <input type="checkbox" id="vet[cipiranje]" name="vet[cipiranje]" /><br />
      <label for="vet[cepljenje]">Cepljena:</label>
      <input type="checkbox" id="vet[cepljenje]" name="vet[cepljenje]" /><br />
      <label for="vet[razparazit]">Razparazitena:</label>
      <input type="checkbox" id="vet[razparazit]" name="vet[razparazit]" /><br />
      <label for="vet[felv]">FeLV pozitivna:</label>
      <input type="checkbox" id="vet[felv]" name="vet[felv]" /><br />
      <label for="vet[fiv]">FIV pozitivna:</label>
      <input type="checkbox" id="vet[fiv]" name="vet[fiv]" />
    </div>
    <hr />
  </div>
  <!-- GROUPING VARIABLES FOR CAT PICTURES -->
  <%
  var images = ["slika1", "slika2", "slika3", "slika4"];
  var count = images.length;
  %>

  <% for (var i = 0; i < count; i++) {

  slika = images[i];

  %>

  <div>
    <img class="slika" style="width: 150px;" src="" />
    <label for="<%= slika %>">Slika <%= i+1 %>:</label>
    <input type="file" accept="image/*" class="catImgUploadInput" id="<%= slika %>" name="<%= slika %>"/>
    <input type="hidden" class="hiddenImgUploadInput" id="<%= slika %>_crop" name="<%= slika %>_crop" />
  </div>

<% }; %>

<!-- MODAL -->
<div class="modal" id="imageCropModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="img-container">
          <img src="" class="imagepreview" style="max-width: 100%;" >
        </div>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-danger imageCropConfirm">Potrdi</button>
        <button type="button" class="btn btn-secondary imageCropCancel" data-dismiss="modal">Prekliči</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->

<!-- METADATA -->
<% if(currentUser && (currentUser.adminLevel == "admin" || currentUser.adminLevel == "owner")){ %>
<hr />
<h4>Metapodatki:</h4>
<button type="button" id="generateCatMetaDataButton" class="btn btn-warning">Generiraj iz opisa / imena</button>
  <!-- Default SEO -->
  <div>
    <label for="SEOmetaTitle">SEO meta naziv:</label><br />
    <input class="SEOinputField" type="text" id="SEOmetaTitle" name="muca[SEOmetaTitle]" size="40"/>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaTitleLength">0</span> znakov</span>
  </div>
  <div >
    <label for="SEOmetaDescription">SEO meta opis:</label><br />
    <textarea class="SEOinputField" rows="6" cols="90" id="SEOmetaDescription" name="muca[SEOmetaDescription]"></textarea>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaDescriptionLength">0</span> znakov</span>
  </div>
  <!-- Facebook -->
  <div>
    <label for="SEOfbTitle">Facebook meta naziv:</label><br />
    <input class="SEOinputField" type="text" id="SEOfbTitle" name="muca[SEOfbTitle]" size="40"/>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbTitleLength">0</span> znakov</span>
  </div>
  <div >
    <label for="SEOfbDescription">Facebook meta opis:</label><br />
    <textarea class="SEOinputField" rows="6" cols="90" id="SEOfbDescription" name="muca[SEOfbDescription]"></textarea>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbDescriptionLength">0</span> znakov</span>
  </div>
  <!-- Twitter -->
  <div>
    <label for="SEOtwitterTitle">Twitter meta naziv:</label><br />
    <input class="SEOinputField" type="text" id="SEOtwitterTitle" name="muca[SEOtwitterTitle]" size="40"/>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterTitleLength">0</span> znakov</span>
  </div>
  <div >
    <label for="SEOtwitterDescription">Twitter meta opis:</label><br />
    <textarea class="SEOinputField" rows="6" cols="90" id="SEOtwitterDescription" name="muca[SEOtwitterDescription]"></textarea>
    <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterDescriptionLength">0</span> znakov</span>
  </div>
<% }; %>
</form>

<hr />
<button type="button" class="btn btn-secondary" id="formSubmit">Potrdi</button>
<% include ../../partials/admin/footer %>
