<% include ../../partials/admin/header %>
<% include ../../partials/functions/muce %>
<p><a href="/admin/muce/iscejo"><< Nazaj</a></p>

<div class="cms_muca">
  <form class="cmsForm">
  <!-- <form class="cmsForm" action="/admin/muce/<%= muca._id %>?_method=PUT" method="POST" enctype="multipart/form-data"> -->
    <div class="cms_muca_row">
      <div class="cms_attr">Ime</div>
      <input type="text" id="ime" name="ime" value="<%= muca.ime %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Datum prihoda</div>
      <input type="date" id="datum" name="muca[datum]" value="<%= moment(muca.datum).format("YYYY-MM-DD") %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Status</div>
      <select id="status" name="muca[status]">
        <option value="1" <%= muca.status == 1 ? "selected" : "" %>>oddaja se prvič</option>
        <option value="2" <%= muca.status == 2 ? "selected" : "" %>>oddaja se ponovno</option>
        <option value="3" <%= muca.status == 3 ? "selected" : "" %>>se ne oddaja oz. bo ostal za nedoločen čas</option>
        <option value="4" <%= muca.status == 4 ? "selected" : "" %>>v novem domu</option>
        <option value="5" <%= muca.status == 5 ? "selected" : "" %>>R.I.P.</option>
      </select>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Mesec rojstva</div>
      <input type="month" id="mesec_rojstva" name="muca[mesec_rojstva]" value="<%= moment(muca.mesec_rojstva).format("YYYY-MM") %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Spol</div>
      <select id="spol" name="muca[spol]">
        <option value="1" <%= muca.spol == 1 ? "selected" : "" %>>samček</option>
        <option value="2" <%= muca.spol == 2 ? "selected" : "" %>>samička</option>
        <option value="3" <%= muca.spol == 3 ? "selected" : "" %>>samček in samička</option>
        <option value="4" <%= muca.spol == 4 ? "selected" : "" %>>neznano</option>
      </select>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Opis</div>
      <textarea id="summernote" name="muca[opis]" required><%- muca.opis %></textarea>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Kontakt</div>
      <select id="kontakt" name="muca[kontakt]">
        <% kontakti.forEach(function(kontakt){ %>
          <% var k = sestavaKontaktaCMS(kontakt.email, kontakt.tel); %>
          <option value="<%= k %>" <%= muca.kontakt == k ? "selected" : "" %>><%= "(" + kontakt.ime + ") " + k %></option>
        <% }); %>
      </select>
    </div>
      <div class="cms_muca_row">
        <div class="cms_attr">Veterinarski status</div>
        <div style="margin: 1em;">
          <label for="vet[s_k]">Sterilizirana / kastriran:</label>
          <input type="checkbox" id="vet[s_k]" name="vet[s_k]" <%= muca.vet.s_k == true ? "checked" : "" %>/><br />
          <label for="vet[cipiranje]">Čipirana:</label>
          <input type="checkbox" id="vet[cipiranje]" name="vet[cipiranje]" <%= muca.vet.cipiranje == true ? "checked" : "" %>/><br />
          <label for="vet[cepljenje]">Cepljena:</label>
          <input type="checkbox" id="vet[cepljenje]" name="vet[cepljenje]" <%= muca.vet.cepljenje == true ? "checked" : "" %>/><br />
          <label for="vet[razparazit]">Razparazitena:</label>
          <input type="checkbox" id="vet[razparazit]" name="vet[razparazit]" <%= muca.vet.razparazit == true ? "checked" : "" %>/><br />
          <label for="vet[felv]">FeLV pozitivna:</label>
          <input type="checkbox" id="vet[felv]" name="vet[felv]" <%= muca.vet.felv == true ? "checked" : "" %>/><br />
          <label for="vet[fiv]">FIV pozitivna:</label>
          <input type="checkbox" id="vet[fiv]" name="vet[fiv]" <%= muca.vet.fiv == true ? "checked" : "" %>/>
        </div>
      </div>
      <!-- POSVOJITEV NA DALJAVO -->
      <div class="cms_muca_row">
        <div class="cms_attr">Posvojitev na daljavo?</div>
        <select id="posvojitev_na_daljavo" name="muca[posvojitev_na_daljavo]">
          <option value="0" <%= muca.posvojitev_na_daljavo == 0 ? "selected" : "" %>>ne</option>
          <option value="1" <%= muca.posvojitev_na_daljavo == 1 ? "selected" : "" %>>da</option>
        </select>
      </div>

<!-- GROUPING VARIABLES FOR CAT PICTURES -->
<%
var files = [muca.file_name1, muca.file_name2, muca.file_name3, muca.file_name4];
var images = ["slika1", "slika2", "slika3", "slika4"];
var count = files.length;
%>

<% for (var i = 0; i < count; i++) {

file = files[i];
slika = images[i];

%>

  <!-- SLIKE -->
  <div class="cms_muca_row">
    <div class="cms_attr">Slika <%= i+1 %></div>
    <div class="cms_val">
      <!-- če ima sploh sliko se jo prikaže -->
      <% if(file != "NULL") { %>
        <img id="<%= muca._id %>" class="slika" src="/files/oglasi_muce/<%= file %>" />
      <% }; %>
      <!-- če ni slike se prikaže gumb za dodajanje -->
      <% if(file != "NULL") { %>
        <label for="<%= slika %>">Izberi novo sliko:</label>
      <% }; %>
        <input class="catImgUploadInput" type="file" name="<%= slika %>" />
        <input type="hidden" class="hiddenImgUploadInput" id="<%= slika %>_crop" name="<%= slika %>_crop" />
      <% if(file != "NULL") { %>
        <button type="button" class="btn btn-outline-dark currentImageCropButton">
          Obreži trenutno sliko
        </button>
      <% }; %>
    </div>
  </div>
<% }; %>

<!-- MODAL -->
<div class="modal" id="imageCropModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="img-container">
          <img src="" class="imagepreview" style="max-width: 100%;" >
        </div>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-danger imageCropConfirm">Potrdi (<strong>pozor: slika v bazi bo takoj spremenjena</strong>)</button>
        <button type="button" class="btn btn-secondary imageCropCancel" data-dismiss="modal">Prekliči</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
</form>
<button type="button" class="btn btn-secondary" id="formSubmit">Potrdi spremembe</button>
</div>

<% include ../../partials/admin/footer %>
