<% include ../../partials/admin/header %>
<% include ../../partials/functions/muce %>
<p><a href="/admin/muce/iscejo"><< Nazaj</a></p>

<div class="cms_muca">

  <form action="/admin/muce/<%= muca._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

    <div class="cms_muca_row">
      <div class="cms_attr">Ime</div>
      <input type="text" id="ime" name="muca[ime]" value="<%= muca.ime %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Datum prihoda</div>
      <input type="date" id="datum" name="muca[datum]" value="<%= moment(muca.datum).format("YYYY-MM-DD") %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Status</div>
      <select id="status" name="muca[status]">
        <option value="1" <%= muca.status == 1 ? "selected" : "" %>>oddaja se prvič</option>
        <option value="2" <%= muca.status == 2 ? "selected" : "" %>>oddaja se ponovno</option>
        <option value="3" <%= muca.status == 3 ? "selected" : "" %>>se ne oddaja oz. bo ostal za nedoločen čas</option>
        <option value="4" <%= muca.status == 4 ? "selected" : "" %>>v novem domu</option>
        <option value="5" <%= muca.status == 5 ? "selected" : "" %>>R.I.P.</option>
      </select>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Mesec rojstva</div>
      <input type="month" id="mesec_rojstva" name="muca[mesec_rojstva]" value="<%= moment(muca.mesec_rojstva).format("YYYY-MM") %>" required/>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Spol</div>
      <select id="spol" name="muca[spol]">
        <option value="1" <%= muca.spol == 1 ? "selected" : "" %>>samček</option>
        <option value="2" <%= muca.spol == 2 ? "selected" : "" %>>samička</option>
        <option value="3" <%= muca.spol == 3 ? "selected" : "" %>>samček in samička</option>
        <option value="4" <%= muca.spol == 4 ? "selected" : "" %>>neznano</option>
      </select>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Opis</div>
      <textarea id="summernote" name="muca[opis]" required><%- muca.opis %></textarea>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Opis</div>
      <select id="kontakt" name="muca[kontakt]">
        <% kontakti.forEach(function(kontakt){ %>
          <% var k = sestavaKontaktaCMS(kontakt.email, kontakt.tel); %>
          <option value="<%= k %>" <%= muca.kontakt == k ? "selected" : "" %>><%= "(" + kontakt.ime + ") " + k %></option>
        <% }); %>
      </select>
    </div>
      <div class="cms_muca_row">
        <div class="cms_attr">Veterinarski status</div>
        <div style="margin: 1em;">
          <label for="vet[s_k]">Sterilizirana / kastriran:</label>
          <input type="checkbox" id="vet[s_k]" name="vet[s_k]" <%= muca.vet.s_k == true ? "checked" : "" %>/><br />
          <label for="vet[cipiranje]">Čipirana:</label>
          <input type="checkbox" id="vet[cipiranje]" name="vet[cipiranje]" <%= muca.vet.cipiranje == true ? "checked" : "" %>/><br />
          <label for="vet[cepljenje]">Cepljena:</label>
          <input type="checkbox" id="vet[cepljenje]" name="vet[cepljenje]" <%= muca.vet.cepljenje == true ? "checked" : "" %>/><br />
          <label for="vet[razparazit]">Razparazitena:</label>
          <input type="checkbox" id="vet[razparazit]" name="vet[razparazit]" <%= muca.vet.razparazit == true ? "checked" : "" %>/><br />
          <label for="vet[felv]">FeLV pozitivna:</label>
          <input type="checkbox" id="vet[felv]" name="vet[felv]" <%= muca.vet.felv == true ? "checked" : "" %>/><br />
          <label for="vet[fiv]">FIV pozitivna:</label>
          <input type="checkbox" id="vet[fiv]" name="vet[fiv]" <%= muca.vet.fiv == true ? "checked" : "" %>/>
        </div>
      </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Slika 1</div>
      <div class="cms_val">
        <!-- če ima sploh sliko se jo prikaže -->
        <% if(muca.file_name1 != undefined) { %>
        <img src="/files/oglasi_muce/<%= muca.file_name1 %>" />
        <% }; %>
        <!-- če ni slike se prikaže gumb za dodajanje -->
        <% if(muca.file_name1 == undefined) { %>
          <input type="file" id="slika1" name="slika1" />
        <% }; %>
        <% if(muca.file_name1 != undefined) { %>
        <p>
          <label for="slika1">Izberi novo sliko:</label>
          <input type="file" id="slika1" name="slika1" />
        </p>
        <% }; %>
      </div>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Slika 2</div>
      <div class="cms_val">
        <!-- če ima sploh sliko se jo prikaže -->
        <% if(muca.file_name2 != undefined) { %>
        <img src="/files/oglasi_muce/<%= muca.file_name2 %>" />
        <% }; %>
        <!-- če ni slike se prikaže gumb za dodajanje -->
        <% if(muca.file_name2 == undefined) { %>
          <input type="file" id="slika2" name="slika2" />
        <% }; %>
        <% if(muca.file_name2 != undefined) { %>
        <p>
          <label for="slika2">Izberi novo sliko:</label>
          <input type="file" id="slika2" name="slika2" />
        </p>
        <% }; %>
      </div>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Slika 3</div>
      <div class="cms_val">
        <!-- če ima sploh sliko se jo prikaže -->
        <% if(muca.file_name3 != undefined) { %>
        <img src="/files/oglasi_muce/<%= muca.file_name3 %>" />
        <% }; %>
        <!-- če ni slike se prikaže gumb za dodajanje -->
        <% if(muca.file_name3 == undefined) { %>
          <input type="file" id="slika3" name="slika3" />
        <% }; %>
        <% if(muca.file_name3 != undefined) { %>
        <p>
          <label for="slika3">Izberi novo sliko:</label>
          <input type="file" id="slika3" name="slika3" />
        </p>
        <% }; %>
      </div>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Slika 4</div>
      <div class="cms_val">
        <!-- če ima sploh sliko se jo prikaže -->
        <% if(muca.file_name4 != undefined) { %>
        <img src="/files/oglasi_muce/<%= muca.file_name4 %>" />
        <% }; %>
        <!-- če ni slike se prikaže gumb za dodajanje -->
        <% if(muca.file_name4 == undefined) { %>
          <input type="file" id="slika4" name="slika4" />
        <% }; %>
        <% if(muca.file_name4 != undefined) { %>
        <p>
          <label for="slika4">Izberi novo sliko:</label>
          <input type="file" id="slika4" name="slika4" />
        </p>
        <% }; %>
      </div>
    </div>
    <div class="cms_muca_row">
      <div class="cms_attr">Posvojitev na daljavo?</div>
      <select id="posvojitev_na_daljavo" name="muca[posvojitev_na_daljavo]">
        <option value="0" <%= muca.posvojitev_na_daljavo == 0 ? "selected" : "" %>>ne</option>
        <option value="1" <%= muca.posvojitev_na_daljavo == 1 ? "selected" : "" %>>da</option>
      </select>
    </div>
    <input type="submit" value="Potrdi spremembe" />
  </form>

</div>

<% include ../../partials/admin/footer %>
