<% include ../../partials/admin/header %>
<% include ../../partials/functions/muce %>
<p><a href="/admin/muce"><< Nazaj</a></p>
<h3><%= muca.ime %></h3>
<div class="cms_muca">
  <div class="cms_muca_row">
    <div class="cms_attr">Dodal/a</div>
    <div class="cms_val"><%= muca.user_id %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Datum prihoda</div>
    <div class="cms_val"><%= muca.datum %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Status</div>
    <div class="cms_val"><%= muca.stanje %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Starost</div>
    <div class="cms_val"><%= starostVMesecih(muca.mesec_rojstva) %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Skupina</div>
    <div class="cms_val"><%= muca.id_starostne_kategorije %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Spol</div>
    <div class="cms_val"><%= muca.spol %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Opis</div>
    <div class="cms_val"><%- muca.opis %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Kontakt</div>
    <div class="cms_val"><%= muca.kontakt %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Slika 1</div>
    <div class="cms_val"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" /></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Slika 2</div>
    <div class="cms_val"><img src="/files/oglasi_muce/<%= muca.file_name2 %>" /></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Slika 3</div>
    <div class="cms_val"><img src="/files/oglasi_muce/<%= muca.file_name3 %>" /></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Slika 4</div>
    <div class="cms_val"><img src="/files/oglasi_muce/<%= muca.file_name4 %>" /></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Posvojitev na daljavo?</div>
    <div class="cms_val"><%= muca.posvojitev_na_daljavo %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Objavi zgodbo</div>
    <div class="cms_val"><%= muca.objavi_zgodbo %></div>
  </div>
  <div class="cms_muca_row">
    <div class="cms_attr">Zgodba</div>
    <div class="cms_val"><%= muca.zgodba %></div>
  </div>


</div>

<% include ../../partials/admin/footer %>
