<% include ../partials/header %>

<div class="with-bootstrap">
    <div class="container">
        <div class="row content-wrapper py-4 py-md-5">
            <div class="content-body col-12">
                <div class="mb-5">
                    <h1><%= podstran.naslov %></h1>
                    <p>V nove domove smo do danes pospremili že <strong><%= steviloVseh + 500 %></strong> muc.</p>
                </div>

                <div class="row">
                    <% muce.forEach(muca => { %>
                        <div class="seznam-muc-list-item col-12 col-sm-6 col-md-4 col-xl-3 no-underline rounded">
                            <img
                                src="/files/oglasi_muce/<%= muca.file_name1 %>"
                                alt="<%= muca.ime %>"
                                class="img-fluid rounded-top"
                            />
                            <div class="bg-gray-1 text-dark text-center py-1 px-2 rounded-bottom">
                                <h5 class="mb-0"><%= muca.ime %></h5>
                                <small>
                                    Datum odhoda: <strong><%= moment(muca.datum).format("D[. ]M[. ]YYYY") %></strong>
                                </small>
                            </div>
                        </div>
                    <% }); %>
                </div>

                <!--Pagination-->
                <% if (totalPages > 0) { %>
                    <nav aria-label="Premikanje po straneh">
                        <ul class="pagination justify-content-center">
                            <% if (currentPage != 1) { %>
                                <li class="page-item">
                                    <a href="/v-novem-domu/1" class="page-link">
                                        <i class="fas fa-angle-double-left"></i>
                                        <span class="sr-only">Na prvo stran</span>
                                    </a>
                                </li>
                            <% } %>

                            <% let i = currentPage > 3 ? currentPage - 2 : 1; %>

                            <% if (i !== 1) { %>
                                <li class="page-item">
                                    <a href="/v-novem-domu/<%= currentPage - 1 %>" class="page-link">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </li>
                            <% } %>

                            <% for (; i <= (currentPage + 2) && i <= totalPages; i++) { %>
                                <% if (i === currentPage) { %>
                                    <li class="page-item active">
                                        <a class="page-link">
                                            <%= i %>
                                        </a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a href="/v-novem-domu/<%= i %>" class="page-link">
                                            <%= i %>
                                        </a>
                                    </li>
                                <% } %>

                                <% if (i === currentPage + 2 && i < totalPages) { %>
                                    <li class="page-item">
                                        <a href="/v-novem-domu/<%= currentPage + 1 %>" class="page-link">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                <% } %>
                            <% } %>

                            <% if (currentPage == totalPages) { %>
                                <li class="page-item disabled">
                                    <a class="page-link">
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a href="/v-novem-domu/<%= totalPages %>" class="page-link">
                                        <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
