<% include ../partials/header %>
<% include ../partials/functions/muce %>

<%
    if (typeof social_description === "undefined") {
        social_description = siteConfig.social_description_default;
    }

    let muc = "";
    let njegovo = "";
    let njega = ""

    switch (muca.spol) {
        case 1:
            muc = "Muc je";
            njegovo = "Njegovo";
            njega = "ga";
            break;

        case 2:
        case 4:
            muc = "Muca je";
            njegovo = "Njeno";
            njega = "jo";
            break;

        case 3:
            muc = "Muci sta";
            njegovo = "Njuno";
            njega = "ju";
            break;

        case 5:
            muc = "Muca sta";
            njegovo = "Njuno";
            njega = "ju";
            break;

        case 6:
            muc = "Muci sta";
            njegovo = "Njuno";
            njega = "ju";
            break;

        default:
            break;
    }
%>

<div class="with-bootstrap">
    <div class="container py-4 py-md-5">
        <a href="/posvojitev/muce" class="btn btn-gray-1 btn-sm">
            <i class="fas fa-angle-double-left"></i>
            Nazaj na seznam vseh muc
        </a>
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="my-3"><%= muca.ime %></h1>
            </div>

            <div class="col-12 col-md-6 order-3 order-md-2 d-flex align-items-center justify-content-center justify-content-md-end my-4 my-md-0">
                <div
                    class="fb-like d-flex"
                    data-href="<%= social_url %>"
                    data-layout="button_count"
                    data-action="like"
                    data-share="true"
                    data-size="large"
                ></div>
                <a
                    class="twitter-share-button"
                    href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
                    data-text="<%= social_description %>"
                    data-size="large"
                >
                    <i class="fab fa-twitter"></i>
                    Deli na Twitterju
                </a>
            </div>

            <div class="col-12 cat-photos order-2 order-md-4">
                <% slike.forEach((slika, i) => { %>
                    <div>
                        <% if (slike_large[i]) { %>
                        <a data-fancybox="gallery" href="/files/oglasi_muce/<%= slike_large[i] %>">
                            <% } %>
                            <img src="/files/oglasi_muce/<%= slike[i] %>" alt="<%= muca.ime %>" class="img-fluid"/>
                            <% if (slike_large[i]) { %>
                        </a>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>

        <% if (slike_large.some(slika => slika !== null)) { %>
            <div class="d-none d-md-block text-right mt-3">
                <button id="imageZoom" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                    <i class="fas fa-search-plus mr-1"></i>
                    Povečaj slike
                </button>
            </div>
        <% } %>

        <div class="row mt-5">
            <div class="col-12 col-md-7 mb-4">
                <div class="mb-5">
                    <h4><i class="fas fa-paw"></i> Predstavitev:</h4>
                    <div class="content-body"><%- muca.opis %></div>
                </div>

                <div class="mb-4">
                    <h3><i class="fas fa-envelope"></i> Kontakt:</h3>
                    <p>
                        <% if (muca.kontakt === 'posvojitveni_vprasalnik') { %>
                            Če ste zainteresirani za posvojitev, izpolnite
                            <a
                                href='https://goo.gl/forms/Tg04MsPbkQqMLkQi1'
                                title='posvojitveni vprašalnik'
                                target='_blank'
                            >
                                posvojitveni vprašalnik
                            </a>
                            in bomo mi kontaktirali vas.
                        <% } else { %>
                            <%- muca.kontakt %>
                        <% } %>
                    </p>
                </div>

                <% if (muca.posvojitev_na_daljavo) { %>
                    <div class="mb-3">
                        <h2>
                            <i class="fas fa-hand-holding-heart"></i>
                            Posvojitev na daljavo:
                        </h2>
                        <p>
                            <%= muc %> je na voljo za posvojitev na daljavo.
                            <% if (muca.boter_povezava) { %>
                                <%= njegovo %> zgodbo si lahko preberete
                                <a href="<%= muca.boter_povezava %>" target="_blank">
                                    tukaj.
                                </a>
                                Prek te povezave lahko dostopate tudi do spletnega obrazca,
                                s katerim <%= njega %> lahko posvojite na daljavo.
                            <% } %>
                            Preberite si več o
                            <a target="_blank" href="https://www.macjiboter.si/o_macjem_botru.php">
                                projektu Mačji boter
                            </a>.
                        </p>
                    </div>
                <% } %>
                <!--Todo: remove-->
<!--                <div class="alert alert-secondary" role="alert" style="margin-top: 30px;">-->
<!--                    <h4 class="alert-heading">Obvestilo vsem, ki želite posvojiti muco</h4>-->
<!--                    <hr />-->
<!--                    <div>-->
<!--                        <div>-->
<!--                            Vse, ki v teh dneh razmišljate o posvojitvi muc obveščamo, da posvojitve pri nas potekajo tudi-->
<!--                            v teh dneh, smo pa nekoliko spremenili postopek.<br>-->
<!--                            <a-->
<!--                                class="font-weight-bold text-white"-->
<!--                                href="#"-->
<!--                                data-toggle="collapse"-->
<!--                                data-target="#info-expand"-->
<!--                                aria-expanded="false"-->
<!--                                aria-controls="info-expand"-->
<!--                                style="text-decoration: underline;"-->
<!--                            >-->
<!--                                >> Preberi več-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div class="collapse" id="info-expand">-->
<!--                            <hr>-->
<!--                            <p>-->
<!--                                Ogledi muc pred posvojitvijo niso možni. Vse potrebno glede posvojitve se dogovorimo pisno ali po-->
<!--                                telefonu, vključno s tem, katero muco posvajate. Na dan posvojitve vstopi v zavetišče-->
<!--                                <strong>samo ena zdrava odrasla oseba</strong> (posvojitelj) z lastnim transporterjem.-->
<!--                                Med postopkom ohranjamo razdaljo 1.5m, ročaj transporterja se ob obeh predajah razkuži. Ob posvojitvi-->
<!--                                se podpiše pogodba, ob tem se uporabi razkuženo pisalo, posvojitelj lahko uporabi tudi lastnega.-->
<!--                            </p>-->
<!--                            <p>-->
<!--                                Postopek izvedemo v najkrajšem možnem času (okoli 5 minut) in z kar najmanj stikov.-->
<!--                                Posvojitelj si pred vstopom v svoje vozilo razkuži roke, razkužilo je posvojitelju-->
<!--                                in osebju zavetišča na voljo ves čas. Ob tem poudarjamo, da je vzdrževanje čistoče in razkuževanje-->
<!--                                vseh površin, pripomočkov, rok ter obuval tudi v "normalnih" časih v našem zavetišču ena-->
<!--                                pomembnejših vsakodnevnih nalog, s katero vseskozi preprečujemo prenos mačjih kužnih bolezni.-->
<!--                            </p>-->
<!--                            <p>-->
<!--                                Hkrati bi radi opozorili, da <strong>hišne živali NE PRENAŠAJO virusa Covid-19</strong>, kar je te dni uradno-->
<!--                                potrdila tudi Svetovna zdravstvena organizacija (WHO). So pa zagotovo čudoviti družabniki-->
<!--                                in prijatelji v dobrih časih in najboljši tolažniki v tesnobnih.-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--Todo: remove-->
            </div>

            <div class="col-12 col-md-5 mb-4">
                <div class="card mb-4">
                    <div class="card-header"><strong>Osnovni podatki</strong></div>
                    <div class="card-body">
                        <p>
                            <strong>Spol</strong>: <%= siteConfig.muca.spol[muca.spol] %>
                        </p>
                        <p>
                            <strong>Starost</strong>: <%= starostVMesecih(muca.mesec_rojstva) %>
                        </p>
                        <p class="mb-0">
                            <strong>Datum sprejema</strong>: <%= moment(muca.datum).format("D[. ]M[. ]YYYY") %>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><strong>Veterinarski status</strong></div>
                    <div class="card-body">
                        <h6 class="font-italic">Opravljeni posegi</h6>
                        <div><i class="fas fa-<%= muca.vet.s_k == true ? "check" : "times" %>" aria-hidden="true"></i> Sterilizacija / kastracija</div>
                        <div><i class="fas fa-<%= muca.vet.cipiranje == true ? "check" : "times" %>" aria-hidden="true"></i> Čipiranje</div>
                        <div><i class="fas fa-<%= muca.vet.cepljenje == true ? "check" : "times" %>" aria-hidden="true"></i> Cepljenje</div>
                        <div><i class="fas fa-<%= muca.vet.razparazit == true ? "check" : "times" %>" aria-hidden="true"></i> Razparazitenje</div>
                        <hr>
                        <h6 class="font-italic">Zdravstveno stanje:</h6>
                        <div><i class="fas fa-<%= muca.vet.felv == true ? "plus" : "minus" %>" aria-hidden="true"></i> FeLV</div>
                        <div><i class="fas fa-<%= muca.vet.fiv == true ? "plus" : "minus" %>" aria-hidden="true"></i> FIV</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

