<% include ../partials/header %>
<% include ../partials/nonindex %>
<% include ../partials/functions/muce %>

          <div class="intro">
            <%- podstran.vsebina %>
          </div>

        <!-- main div -->
        <div class="muce_seznam">
          <!-- panel -->
          <div class="jplist-panel muce_filtri">

            <!-- text filter box -->
            <div class="text-filter-box">
               <i class="fa fa-search  jplist-icon"></i>
               <input
                  data-path=".ime"
                  type="text"
                  value=""
                  placeholder="Išči po imenu..."
                  data-control-type="textbox"
                  data-control-name="ime-filter"
                  data-control-action="filter"
               />
            </div>

            <!-- checkbox starost -->
            <div
               class="jplist-group"
               data-control-type="checkbox-group-filter"
               data-control-action="filter"
               data-control-name="starost">

               <input
                 data-path=".do1"
                 id="do1"
                 type="checkbox"
                 checked
               />

               <label for="do1">Do 1. leta starosti</label>

               <input
                 data-path=".nad1"
                 id="nad1"
                 type="checkbox"
                 checked
               />

               <label for="nad1">Od 1. leta dalje</label>
            </div>

            <!-- checkbox način posvojitev -->

            <div
               class="jplist-group"
               data-control-type="checkbox-group-filter"
               data-control-action="filter"
               data-control-name="themes">

               <input
                 data-path=".posebej"
                 id="posebej"
                 type="checkbox"
                 checked
               />

               <label for="posebej">Posebej</label>

               <input
                 data-path=".par"
                 id="par"
                 type="checkbox"
                 checked
               />

               <label for="par">V paru</label>
            </div>

            <div
               class="jplist-label"
               data-type="Stran {current} od {pages}"
               data-control-type="pagination-info"
               data-control-name="paging"
               data-control-action="paging">
            </div>

          </div>

          <!-- HTML data -->
          <div class="list">
            <% muce.forEach(function(muca){ %>
              <div class="list-item muca <%= starostNum(muca.mesec_rojstva) >= 12 ? 'nad1' : 'do1' %> <%= muca.nacin_posvojitve == 'v_paru' || muca.ime.toLowerCase().includes(' in ') ? 'par' : 'posebej' %>">
                <h2 class="ime"><a href="/posvojitev/muce/<%= muca.dbid %>"><%= muca.ime %> <i class="fa fa-<%= spolSimbol(muca.spol) %>" aria-hidden="true"></i></a></h2>
                <div class="muca_img"><a href="/posvojitev/muce/<%= muca.dbid %>"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" /></a></div>
                <div class="vet_status">
                  <img src="/images/<%= muca.vet.felv == true ? "felvplus" : "felvminus" %>.png" />
                  <img src="/images/<%= muca.vet.fiv == true ? "fivplus" : "fivminus" %>.png" />
                </div>
                <p><strong>Starost:</strong> <%= starostVMesecih(muca.mesec_rojstva) %></p>
                <p class="cat_more"><a href="/posvojitev/muce/<%= muca.dbid %>">
                  Več <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a></p>
              </div>
            <% }); %>

          <!-- no results found -->
           <div class="jplist-no-results">
              <p>Ni rezultatov.</p>
           </div>
        </div>

        <div class="jplist-panel">
          <!-- pagination control -->
          <div
             class="jplist-pagination"
             data-control-type="pagination"
             data-control-name="paging"
             data-control-action="paging"
             data-items-per-page="6">
          </div>

        </div>
      </div><!-- end main -->

<% include ../partials/sidebar_nocats %>
<% include ../partials/footer %>
