<% include ../partials/header %>
<% include ../partials/functions/muce %>
<div class="nonindex">
  <div class="container_full">
    <div class="content">

      <h1 class="content_heading">Muce, ki iščejo dom</h1>
      <hr class="content_title_subhr" />
        <div class="intro">
          <%- podstran.vsebina %>
        </div>
      <!-- SEARCH FILTERS -->
        <div class="muce_filter">
          <div class="muce_filter_group">
            <form>
                <div>
                  <strong>Starost:</strong>
                  <input type="checkbox" checked>
                  <label for="under1">do 1. leta</label>
                  <input type="checkbox" checked>
                  <label for="above1">od 1. leta dalje</label>
                </div>
            </form>
          </div>
          <div class="muce_filter_group">
            <form>
                <div>
                  <strong>Način posvojitve:</strong>
                  <input type="checkbox" checked>
                  <label for="solo">posebej</label>
                  <input type="checkbox" checked>
                  <label for="pair">v paru</label>
                </div>
            </form>
          </div>
          <div class="muce_filter_group">
            <input type="text" placeholder="Išči po imenu..." />
          </div>
        </div>
      <!-- END SEARCH FILTERS -->

      <!-- BEGIN LIST -->
      <div class="muce_seznam" id="muce_container">
        <ul class="content">
          <% muce.forEach(function(muca){ %>
            <li class="muca">
              <div>
                <h2><a href="/posvojitev/muce/<%= muca._id %>"><%= muca.ime %> <i class="fa fa-<%= spolSimbol(muca.spol) %>" aria-hidden="true"></i></a></h2>
                <div class="muca_img"><a href="/posvojitev/muce/<%= muca._id %>"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" /></a></div>
                <div class="vet_status">
                  <img src="/images/<%= muca.vet.felv == true ? "felvplus" : "felvminus" %>.png" />
                  <img src="/images/<%= muca.vet.fiv == true ? "fivplus" : "fivminus" %>.png" />
                </div>
                <p><strong>Starost:</strong> <%= starostVMesecih(muca.mesec_rojstva) %></p>
                <p class="cat_more"><a href="/posvojitev/muce/<%= muca._id %>">
                  Več <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a></p>
              </div>
            </li>
          <% }); %>
        </ul>
        <div class="page_navigation"></div>
      </div>
      <!-- END LIST -->
      <div class="muce_nav">

      </div>

    </div><!--end content-->
  </div><!--end container-full-->
</div><!--end nonindex div-->
<% include ../partials/footer %>
