<% include ../partials/header %>
<% include ../partials/functions/muce %>
<div class="page_header">
  <div class="container">
    <h1 class="content_heading"><%= podstran.naslov %></h1>
  </div>
</div>
  <div class="nonindex">
    <div class="header_mobile">
      <h1 class="content_heading"><%= podstran.naslov %></h1>
    </div>
    <div class="container" id="muca_container_div">
      <div class="content" id="muca_content_div">

        <div class="intro">
          <%- podstran.vsebina %>
        </div>
        <!-- main div -->
        <div class="muce_seznam">
          <!-- panel -->
          <div class="jplist-panel muce_filtri">

            <!-- text filter box -->
            <div class="text-filter-box">
               <i class="fas fa-search  jplist-icon"></i>
               <input
                  data-path=".ime"
                  type="text"
                  value=""
                  placeholder="Išči po imenu..."
                  data-control-type="textbox"
                  data-control-name="ime-filter"
                  data-control-action="filter"
               />
            </div>

            <!-- checkbox starost -->
            <div
               class="jplist-group"
               data-control-type="checkbox-group-filter"
               data-control-action="filter"
               data-control-name="starost">

               <input
                 data-path=".do1"
                 id="do1"
                 type="checkbox"
                 checked
               />

               <label for="do1">Do 1. leta <span class="starost_filter">starosti</span></label>

               <input
                 data-path=".nad1"
                 id="nad1"
                 type="checkbox"
                 checked
               />

               <label for="nad1">Od 1. leta <span class="starost_filter">dalje</span></label>
            </div>



          </div>

          <!-- HTML data -->
          <div class="list">
            <% muce.forEach(function(muca){ %>
              <div class="list-item muca <%= starostNum(muca.mesec_rojstva) >= 12 ? 'nad1' : 'do1' %> <%= muca.nacin_posvojitve == 'v_paru' || muca.ime.toLowerCase().includes(' in ') ? 'par' : 'posebej' %>">

                <!-- slika -->
                <div class="muca_img"><a href="/posvojitev/muce/<%= muca.dbid %>"><img src="/files/oglasi_muce/<%= muca.file_name1 %>" alt="<%= muca.ime %>"/></a></div>
                <!-- ime -->
                <div class="muca_ime">
                  <h2 class="ime">
                    <a href="/posvojitev/muce/<%= muca.dbid %>"><%= muca.ime %>
                    </a>
                  </h2>
                </div>
                <div class="muca_infoandmore">
                  <!-- starost -->
                  <p><em>Starost: <%= starostVMesecih(muca.mesec_rojstva) %></em></p>
                </div>
              </div>
            <% }); %>

          <!-- no results found -->
           <div class="jplist-no-results">
              <p>Ni rezultatov.</p>
           </div>
        </div>

        <div class="jplist-panel">
          <!-- pagination control -->
          <div
             class="jplist-pagination"
             data-control-type="pagination"
             data-control-name="paging"
             data-control-action="paging"
             data-items-per-page="20">
          </div>

          <div
             class="jplist-label"
             data-type="Stran {current} od {pages}"
             data-control-type="pagination-info"
             data-control-name="paging"
             data-control-action="paging">
          </div>

        </div>
      </div><!-- end main -->
    </div>
  </div>
</div>

<% include ../partials/footer %>
