<% include ../partials/header %>
<% include ../partials/functions/muce %>
<div class="nonindex">
  <div class="container">
    <div class="content">

<!-- združi vse slike -->
<%
  var slike = [];

  if(muca.file_name1 != undefined && muca.file_name1 != "" && muca.file_name1 != "NULL") {
    slike.push(muca.file_name1);
  }

  if(muca.file_name2 != undefined && muca.file_name2 != "" && muca.file_name2 != "NULL") {
    slike.push(muca.file_name2);
  }

  if(muca.file_name3 != undefined && muca.file_name3 != "" && muca.file_name3 != "NULL") {
    slike.push(muca.file_name3);
  }

  if(muca.file_name4 != undefined && muca.file_name4 != "" && muca.file_name4 != "NULL") {
    slike.push(muca.file_name4);
  }
%>

<h1 class="content_heading" id="muca_name"><%= muca.ime %></h1>
<hr class="content_title_subhr" id="name_hr" />
<p id="muce_back"><a href="/posvojitev/muce"><strong><i class="fa fa-undo" aria-hidden="true"></i> nazaj na seznam</strong></a></p>
<div class="cat_full">
  <div class="photos">
    <% slike.forEach(function(slika){ %>
      <div class="photo">
        <img src="/files/oglasi_muce/<%= slika %>" />
      </div>
    <% }); %>
  </div>
  <div class="data">
    <div class="data_basic">
      <div class="data_header"><h3>Osnovni podatki</h3></div>
      <div class="data_row">
        <!-- SPOL -->
        <div class="row_def">Spol</div>
        <div class="row_val">
          <i class="fa fa-<%= spolSimbol(muca.spol) %>" aria-hidden="true"></i> <%= spolMuce(muca.spol) %>
        </div>
      </div>
      <div class="data_row">
        <!-- STAROST -->
        <div class="row_def">Starost</div>
        <div class="row_val"><i class="fa fa-paw" aria-hidden="true"></i> <%= starostVMesecih(muca.mesec_rojstva) %></div>
      </div>
      <div class="data_row">
        <!-- DATUM SPREJEMA -->
        <div class="row_def">Datum sprejema</div>
        <div class="row_val"><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(muca.datum).format("D[. ]M[. ]YYYY") %></div>
      </div>
    </div>
    <div class="data_vet">
      <!-- VET STATUS -->
      <div class="data_header"><h3>Veterinarski status</h3></div>
      <div class="data_row">
        <div class="row_def">Sterilizirana</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.s_k == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Čipirana</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.cipiranje == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Cepljena</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.cepljenje == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Razparazitena</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.razparazit == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">FeLV</div>
        <div class="row_val"><%= muca.vet.felv == true ? "pozitivna" : "negativna" %></div>
      </div>
      <div class="data_row">
        <div class="row_def">FIV</div>
        <div class="row_val"><%= muca.vet.fiv == true ? "pozitivna" : "negativna" %></div>
      </div>
      <!-- END VET STATUS -->
    </div>
  </div>
  <div class="desc">
    <h2>O <%= muca.spol == 3 ? "nama" : "meni" %>:</h2>
    <div>
      <%- muca.opis %>
    </div>
    <div class="contact">
      <p><span class="orange"><strong>Kontakt:</strong></span></p>
      <p><strong><%= muca.kontakt %></strong></p>
    </div>
    <% if(muca.posvojitev_na_daljavo == 1) { %>
      <p class="boter_true">
        <em>
          Muca je na voljo za <strong>posvojitev na daljavo</strong>. Če jo želite posvojiti na daljavo, lahko to storite preko <a onclick="this.target='_blank'" href="http://www.macjiboter.si/posvojitev_na_daljavo_obrazec.php?id=1637">spletnega obrazca</a> in postanete mačji boter. Preberite si več o <a onclick="this.target='_blank'" href="http://www.macjiboter.si/o_macjem_botru.php">projektu Mačji boter</a>.
        </em>
      </p>
    <% }; %>
  </div>
</div>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
