    <% include ../partials/header %>
    <% include ../partials/functions/muce %>
<div class="nonindex">
  <div class="container" id="muca_container_div">
    <div class="content" id="muca_content_div">
    <!-- združi vse slike -->
    <%
      var slike = [];
      var slike_large = [];
      var files = [muca.file_name1, muca.file_name2, muca.file_name3, muca.file_name4];
      var files_large = [muca.file_name1_large, muca.file_name2_large, muca.file_name3_large, muca.file_name4_large];

      files.forEach(function(file) {
        if(file !== undefined && file !== "" && file !== "NULL") {
          slike.push(file);
        }
      });
      var large_img_exists = false
      files_large.forEach(function(file) {
        if(file !== undefined && file !== "" && file !== "NULL") {
          large_img_exists = true;
          slike_large.push(file);
        }
      });
    %>
    <div id="back_to_cats_list">
      <em>
        <a id="back_to_cats_list_link" href="/posvojitev/muce">
          <i class="fas fa-angle-double-left"></i> Nazaj na seznam vseh muc
        </a>
      </em>
    </div>



    <div class="cat_top">
      <h1 id="muca_title_ime"><%= muca.ime %></h1>
      <!-- Če še ni lokalnih social variablov -->
        <% if (typeof social_description == "undefined") {
          social_description = "Mačja hiša je projekt Društva za pomoč živalim v stiski SLO, strokovnjaki z veterinarskega in živalovarstvenega področja, angleško organizacijo Cats protection ter aktivnimi posamezniki. Zaživel je s pričetkom leta 2009 z namenom izboljšanja stanja na področju problematike zavrženih in prostoživečih mačk.";
        }
        %>
      <div class="cat_social_desktop">
        <h3>Deli:</h3>
        <div class="fb-like"
          data-href="<%= social_url %>"
          data-layout="button"
          data-action="like"
          data-show-faces="true">
        </div>
        <div class="fb-share-button"
          data-href="<%= social_url %>"
          data-layout="button">
        </div>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
          data-text="<%= social_description %>">
        <i class="fab fa-twitter"></i> Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="cat_full">
      <div class="photos">

        <% for (var i = 0; i < slike.length; i++) { %>
          <div class="photo">
            <% if (slike_large[i] !== undefined && slike_large[i] !== "" && slike_large[i] !== "NULL") { %>
            <a data-fancybox="gallery" href="/files/oglasi_muce/<%= slike_large[i] %>">
            <% } %>
              <img src="/files/oglasi_muce/<%= slike[i] %>" alt="<%= muca.ime %>"/>
            <% if (slike_large[i] !== undefined && slike_large[i] !== "" && slike_large[i] !== "NULL") { %>
            </a>
            <% } %>
          </div>
        <% } %>
      </div>

      <% if (large_img_exists) { %>
      <div id="imageZoomDiv">
        <button id="imageZoom">Povečaj slike</button>
      </div>
      <% } %>

      <div class="cat_social_mobile">
        <div class="fb-like"
          data-href="<%= social_url %>"
          data-layout="button"
          data-action="like"
          data-show-faces="true">
        </div>
        <div class="fb-share-button"
          data-href="<%= social_url %>"
          data-layout="button">
        </div>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
          data-text="<%= social_description %>">
        <i class="fab fa-twitter"></i> Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <%

      var muc = "";
      var njegovo = "";
      var njega = ""

      if(muca.spol === 1) {
        muc = "Muc je";
        njegovo = "Njegovo";
        njega = "ga";
      }

      if(muca.spol === 2 || muca.spol === 4) {
        muc = "Muca je";
        njegovo = "Njeno";
        njega = "jo";
      }

      if(muca.spol === 3) {
        muc = "Muci sta";
        njegovo = "Njuno";
        njega = "ju";
      }

      if(muca.spol === 5) {
        muc = "Muca sta";
        njegovo = "Njuno";
        njega = "ju";
      }

      if(muca.spol === 6) {
        muc = "Muci sta";
        njegovo = "Njuno";
        njega = "ju";
      }

      %>

      <div class="desc">
        <h2><i class="fas fa-paw"></i> Predstavitev:</h2>
          <%- muca.opis %>
        <div class="contact">
          <h2><i class="fas fa-envelope"></i> Kontakt:</h2>
          <p>
            <%- muca.kontakt == "posvojitveni_vprasalnik"
              ? "Če ste zainteresirani za posvojitev, izpolnite <a href='https://goo.gl/forms/Tg04MsPbkQqMLkQi1' title='posvojitveni vprašalnik' target='_blank'>posvojitveni vprašalnik</a> in bomo mi kontaktirali vas."
              : muca.kontakt
            %>
          </p>
        </div>
        <% if(muca.posvojitev_na_daljavo == 1) { %>
          <div class="boter_true">
            <h2><i class="fas fa-hand-holding-heart"></i> Posvojitev na daljavo:</h2>
            <p><%= muc %> na voljo za posvojitev na daljavo.
              <% if(muca.boter_povezava !== undefined) { %>
              <%= njegovo %> zgodbo si lahko preberete <a href="<%= muca.boter_povezava %>" target="_blank">tukaj</a>. Prek te povezave lahko dostopate tudi do spletnega obrazca, s katerim <%= njega %> lahko posvojite na daljavo.
              <% }; %>
              Preberite si več o <a target="_blank" href="http://www.macjiboter.si/o_macjem_botru.php">projektu Mačji boter</a>.
          </p></div>
        <% }; %>

      </div>

      <div class="data">
        <div class="data_basic">
          <div class="data_header"><h3>Osnovni podatki</h3></div>
          <div class="data_row">
            <!-- SPOL -->
            <strong>Spol</strong>: <%= siteConfig.muca.spol[muca.spol] %>
          </div>
          <div class="data_row">
            <!-- STAROST -->
            <strong>Starost</strong>: <%= starostVMesecih(muca.mesec_rojstva) %>
          </div>
          <div class="data_row">
            <!-- DATUM SPREJEMA -->
            <strong>Datum sprejema</strong>: <%= moment(muca.datum).format("D[. ]M[. ]YYYY") %>
          </div>
        </div>
        <div class="data_vet">
          <!-- VET STATUS -->
          <div class="data_header"><h3>Veterinarski status</h3></div>
          <div class="data_title_row">Opravljeni posegi:</div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.s_k == true ? "check" : "times" %>" aria-hidden="true"></i> Sterilizacija / kastracija
          </div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.cipiranje == true ? "check" : "times" %>" aria-hidden="true"></i> Čipiranje
          </div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.cepljenje == true ? "check" : "times" %>" aria-hidden="true"></i> Cepljenje
          </div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.razparazit == true ? "check" : "times" %>" aria-hidden="true"></i> Razparazitenje
          </div>
          <div class="data_title_row">Zdravstveno stanje:</div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.felv == true ? "plus" : "minus" %>" aria-hidden="true"></i> FeLV
            <div class="row_def"></div>
            <div class="row_val"></div>
          </div>
          <div class="data_row">
            <i class="fas fa-<%= muca.vet.fiv == true ? "plus" : "minus" %>" aria-hidden="true"></i> FIV
          </div>
          <!-- END VET STATUS -->
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
