<% include ../partials/header %>
<% include ../partials/nonindex %>
<% include ../partials/functions/muce %>
<!-- združi vse slike -->
<%
  var slike = [];
  var files = [muca.file_name1, muca.file_name2, muca.file_name3, muca.file_name4];

  files.forEach(function(file) {
    if(file !== undefined && file !== "" && file !== "NULL") {
      slike.push(file);
    }
  })
%>
<h1 id="muca_title_ime"><%= muca.ime %></h1>
<div class="cat_full">
  <div class="photos">
    <% slike.forEach(function(slika){ %>
      <div class="photo">
        <img src="/files/oglasi_muce/<%= slika %>" />
      </div>
    <% }); %>
  </div>
  <div class="desc">
    <h2>O <%= muca.spol == 3 ? "nama" : "meni" %>:</h2>
    <div class="full_desc">
      <%- muca.opis %>
    </div>
    <div class="contact">
      <h2>Kontakt:</h2>
      <p class="contact_info"><%= muca.kontakt %></p>
    </div>
    <% if(muca.posvojitev_na_daljavo == 1) { %>
      <h2>Posvojitev na daljavo:</h2>
      <div class="boter_true">
        <p>Muca je na voljo za posvojitev na daljavo. Če jo želite posvojiti na daljavo, lahko to storite preko <a onclick="this.target='_blank'" href="http://www.macjiboter.si/posvojitev_na_daljavo_obrazec.php?id=1637">spletnega obrazca</a> in postanete mačji boter. Preberite si več o <a onclick="this.target='_blank'" href="http://www.macjiboter.si/o_macjem_botru.php">projektu Mačji boter</a>.
      </p></div>
    <% }; %>

  </div>
  <div class="data">
    <div class="data_basic">
      <div class="data_header"><h3>Osnovni podatki</h3></div>
      <div class="data_row">
        <!-- SPOL -->
        <div class="row_def">Spol</div>
        <div class="row_val">
          <i class="fa fa-<%= spolSimbol(muca.spol) %>" aria-hidden="true"></i> <%= spolMuce(muca.spol) %>
        </div>
      </div>
      <div class="data_row">
        <!-- STAROST -->
        <div class="row_def">Starost</div>
        <div class="row_val"><i class="fa fa-paw" aria-hidden="true"></i> <%= starostVMesecih(muca.mesec_rojstva) %></div>
      </div>
      <div class="data_row">
        <!-- DATUM SPREJEMA -->
        <div class="row_def">Datum sprejema</div>
        <div class="row_val"><i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(muca.datum).format("D[. ]M[. ]YYYY") %></div>
      </div>
    </div>
    <div class="data_vet">
      <!-- VET STATUS -->
      <div class="data_header"><h3>Veterinarski status</h3></div>
      <div class="data_title_row">Opravljeni posegi:</div>
      <div class="data_row">
        <div class="row_def">Sterilizacija / kastracija</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.s_k == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Čipiranje</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.cipiranje == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Cepljenje</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.cepljenje == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">Razparazitenje</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.razparazit == true ? "check" : "times" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_title_row">Zdravstveno stanje:</div>
      <div class="data_row">
        <div class="row_def">FeLV</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.felv == true ? "plus" : "minus" %>" aria-hidden="true"></i></div>
      </div>
      <div class="data_row">
        <div class="row_def">FIV</div>
        <div class="row_val"><i class="fa fa-<%= muca.vet.fiv == true ? "plus" : "minus" %>" aria-hidden="true"></i></div>
      </div>
      <!-- END VET STATUS -->
    </div>
  </div>
</div>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
