<% include ../../partials/admin/header %>
<a class="p-2 badge badge-info backToIndex" href="/admin/oskrbnice"><i class="fas fa-arrow-left"></i> Nazaj</a>
<div class="header-addOrEdit d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-warning">Uredi e-mail naslov za obveščanje</h1>
</div>
<hr class="header-divider" />

<form action="/admin/oskrbnice/<%= oskrbnica._id %>?_method=PUT" method="POST">
  <div class="required form-group">
    <label for="oskrbnica[ime]">Ime:</label>
    <input class="form-control" type="text" name="oskrbnica[ime]" id="ime" value="<%= oskrbnica.ime %>" autofocus required/>
  </div>
  <div class="required form-group">
    <label for="oskrbnica[email]">E-mail:</label>
    <input class="form-control" type="text" name="oskrbnica[email]" id="email" value="<%= oskrbnica.email %>" required/>
  </div>
  <div class="required form-group">
    <label for="aktivna">Aktiven:</label>
    <select class="form-control" id="aktivna" name="oskrbnica[aktivna]">
      <option value="Da" <%= oskrbnica.aktivna == "Da" ? "selected" : "" %>>Da</option>
      <option value="Ne" <%= oskrbnica.aktivna == "Ne" ? "selected" : "" %>>Ne</option>
    </select>
  </div>
  <hr />
  <input type="submit" class="btn btn-secondary" value="Potrdi spremembe">
</form>

<% include ../../partials/admin/footer %>
