<% include ../../partials/admin/header %>
<a class="p-2 badge badge-info backToIndex" href="/admin/koticek-za-otroke"><i class="fas fa-arrow-left"></i> Nazaj</a>
<div class="header-addOrEdit d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-warning">Urejanje vsebine za otroški kotiček</h1>
</div>
<hr class="header-divider" />

<form action="/admin/koticek-za-otroke/<%= vsebina._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="vsebina[naslov]">Naslov:</label>
    <input class="form-control" type="text" name="vsebina[naslov]" id="naslov" size="70" value="<%= vsebina.naslov %>" autofocus/>
  </div>
  <div class="required form-group">
    <label for="datum">Datum objave:</label>
    <input class="form-control" type="date" id="datum" name="vsebina[datum]" value="<%= moment(vsebina.datum).format("YYYY-MM-DD") %>" required/>
    <small class="form-text text-muted">Najnovejše objave so na seznamu prikazane prve.</small>
  </div>
  <div class="form-group">
    <label for="vsebina[datoteka]">Trenutna datoteka:</label>
    <input class="form-control" type="text" name="vsebina[datoteka]" id="datoteka" value="<%= vsebina.datoteka %>" size="70" disabled/>
  </div>
  <div class="form-group">
    <label for="vsebina[nova_datoteka]">Nova datoteka:</label>
    <input class="form-control-file" type="file" accept="application/msword application/pdf" name="vsebina[nova_datoteka]" id="nova_datoteka" size="70"/>
    <small class="form-text text-muted">Dovoljene so samo PDF ali Microsoft Word (.doc/.docx) datoteke.</small>
  </div>
  <div class="form-group">
    <label for="vsebina[naslovna_slika]">Trenutna naslovna slika:</label>
    <input class="form-control" type="text" name="vsebina[naslovna_slika]" id="naslovna_slika" value="<%= vsebina.naslovna_slika %>" size="70" disabled/>
  </div>
  <div class="form-group">
    <label for="vsebina[nova_naslovna_slika]">Nova naslovna slika:</label>
    <input class="form-control-file" type="file" accept="image/*" name="vsebina[nova_naslovna_slika]" id="nova_naslovna_slika" size="70"/>
    <small class="form-text text-muted">Slika, ki bo prikazana ob vsebini na spletni strani (če gre za pobarvanko, lahko daš kar isto kot pri datoteki).</small>
  </div>
  <div class="required form-group">
    <label for="vsebina[kategorija]">Kategorija:</label>
    <select class="form-control" id="kategorija" name="vsebina[kategorija]">
      <option value="pobarvanka" <%= vsebina.kategorija == "pobarvanka" ? "selected" : "" %>>Pobarvanka</option>
      <option value="drugo" <%= vsebina.kategorija == "drugo" ? "selected" : "" %>>Drugo</option>
    </select>
  </div>
  <div class="required form-group">
    <label for="vsebina[objava]">Objava:</label>
    <select class="form-control" id="objava" name="vsebina[objava]">
      <option value="1" <%= vsebina.objava == "1" ? "selected" : "" %>>Da</option>
      <option value="0" <%= vsebina.objava == "0" ? "selected" : "" %>>Ne</option>
    </select>
    <small class="form-text text-muted">Določi, ali bo vsebina prikazana na spletni strani.</small>
  </div>
  <hr />
  <input class="btn btn-secondary" type="submit" value="Potrdi spremembe">
</form>

<% include ../../partials/admin/footer %>
