<% include ../../partials/admin/header %>
<p><a href="/admin/podstrani"><< Nazaj</a></p>
<h3>Uredi podstran</h3>

<form action="/admin/podstrani/<%= podstran._id %>?_method=PUT" method="POST">
  <div class="required">
    <label for="podstran[naslov]">Naslov:</label>
    <input type="text" name="podstran[naslov]" id="naslov" value="<%= podstran.naslov %>" required/>
  </div>
  <div class="required">
    <label for="podstran[url]">URL:</label>
    <input type="text" name="podstran[url]" id="url" value="<%= podstran.url %>" required/>
  </div>
  <div>
    <label for="podstran[objava]">Vključena v menu:</label>
    <select id="podstran[objava]" name="podstran[objava]">
      <option value="Da">Da</option>
      <option value="Ne">Ne</option>
    </select>
  </div>
  <div>
    <label for="podstran[kategorija]">Kategorija:</label>
    <select id="kategorija" name="podstran[kategorija]">
      <% kategorije.forEach(function(kategorija){ %>
        <option value="<%= kategorija._id %>" <%= podstran.kategorija.equals(kategorija._id) ? "selected" : "" %>><%= kategorija.naslov %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label for="podstran[vsebina]">Vsebina:</label>
    <textarea name="podstran[vsebina]" id="summernote" required><%= podstran.vsebina %></textarea>
  </div>

  <!-- METADATA -->
  <hr />
  <h4>Metapodatki:</h4>
  <button type="button" id="generatePageMetaDataButton" class="btn btn-warning">Generiraj iz opisa / besedila</button>
    <!-- Default SEO -->
    <div>
      <label for="SEOmetaTitle">SEO meta naziv:</label><br />
      <input class="SEOinputField" value="<%= podstran.SEOmetaTitle %>" type="text" id="SEOmetaTitle" name="podstran[SEOmetaTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaTitleLength"><%= podstran.SEOmetaTitle.length %></span> znakov</span>
    </div>
    <div >
      <label for="SEOmetaDescription">SEO meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOmetaDescription" name="podstran[SEOmetaDescription]"><%= podstran.SEOmetaDescription %></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOmetaDescriptionLength"><%= podstran.SEOmetaDescription.length %></span> znakov</span>
    </div>
    <!-- Facebook -->
    <div>
      <label for="SEOfbTitle">Facebook meta naziv:</label><br />
      <input class="SEOinputField" value="<%= podstran.SEOfbTitle %>" type="text" id="SEOfbTitle" name="podstran[SEOfbTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbTitleLength"><%= podstran.SEOfbTitle.length %></span> znakov</span>
    </div>
    <div >
      <label for="SEOfbDescription">Facebook meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOfbDescription" name="podstran[SEOfbDescription]"><%= podstran.SEOfbDescription %></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOfbDescriptionLength"><%= podstran.SEOfbDescription.length %></span> znakov</span>
    </div>
    <!-- Twitter -->
    <div>
      <label for="SEOtwitterTitle">Twitter meta naziv:</label><br />
      <input class="SEOinputField" value="<%= podstran.SEOtwitterTitle %>" type="text" id="SEOtwitterTitle" name="podstran[SEOtwitterTitle]" size="40"/>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterTitleLength"><%= podstran.SEOtwitterTitle.length %></span> znakov</span>
    </div>
    <div >
      <label for="SEOtwitterDescription">Twitter meta opis:</label><br />
      <textarea class="SEOinputField" rows="6" cols="90" id="SEOtwitterDescription" name="podstran[SEOtwitterDescription]"><%= podstran.SEOtwitterDescription %></textarea>
      <span class="SEOtextlength">Dolžina: <span class="charLength" id="SEOtwitterDescriptionLength"><%= podstran.SEOtwitterDescription.length %></span> znakov</span>
    </div>
  <hr />

  <input type="submit" value="Potrdi spremembe">
</form>







<% include ../../partials/admin/footer %>
