<% include ../../partials/admin/header %>

<h3>Podstrani</h3>
<p><a href="/admin/podstrani/add">+ Dodaj novo</a></p>

<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Datum zadnje spremembe</th>
            <th>Portal</th>
            <th>Naslov</th>
            <th>Kategorija</th>
            <th>Vsebina</th>
            <th>Objava</th>
            <th>Prikaži</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
        <% podstrani.forEach(function(podstran) { %>

          <tr>
              <td>
                <!-- hidden date format for table ordering purposes  -->
                <span class="hidden"><%= moment(podstran.zadnja_sprememba).format("YYYY[/]MM[/]DD") %></span>
                <!-- actual date format shown -->
                <%= moment(podstran.zadnja_sprememba).format("DD[.]MM[.]YYYY") %>
              </td>
              <td><%= podstran.portal %></td>
              <td><%= podstran.naslov %></td>
              <td><%= podstran.kategorija.naslov %></td>
              <td><%- podstran.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %></td>
              <td><%= podstran.objava %></td>
              <td><a href="/<%= podstran.kategorija.url %>/<%= podstran.url %>" target="_blank"><i class="far fa-eye" aria-hidden="true"></i></a></td>
              <td><a href="/admin/podstrani/<%= podstran._id %>/edit"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>



<% include ../../partials/admin/footer %>
