<% include ../partials/header %>
<% include ../partials/nonindex %>

    <!-- main div -->
    <div class="novice_seznam">
      <!-- HTML data -->
      <div class="list">

        <% novice.forEach(function(novica) { %>
          <div class="list-item">
              <a href="/novice/<%= novica.dbid %>" class="novica_naslov">
                <h4 class="novica_naslov_title"><%= novica.naslov %></h4>
              </a>
                <p class="novica_naslov_datum"><%= moment(novica.datum).format("DD[.]MM[.]YYYY") %></p>
            <p class="novica_txt"><%- novica.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,250) + "..." %>
              <a href="/novice/<%= novica.dbid %>">
                <i class="fas fa-forward" aria-hidden="true"></i></p>
              </a>
          </div>

        <% }) %>

      </div>

      <!-- no results found -->
       <div class="jplist-no-results">
          <p>Ni rezultatov.</p>
       </div>


    <div class="jplist-panel">
      <!-- pagination control -->
      <div
         class="jplist-pagination"
         data-control-type="pagination"
         data-control-name="paging"
         data-control-action="paging"
         data-items-per-page="5">
      </div>

      <div
         class="jplist-label"
         data-type="Stran {current} od {pages}"
         data-control-type="pagination-info"
         data-control-name="paging"
         data-control-action="paging">
      </div>
      <!-- text filter box -->
      <div class="text-filter-box">
         <i class="fas fa-search  jplist-icon"></i>
         <input
            data-path=".novica_naslov"
            type="text"
            value=""
            placeholder="Išči..."
            data-control-type="textbox"
            data-control-name="naslov-filter"
            data-control-action="filter"
         />
      </div>
    </div>
</div>
<% include ../partials/sidebar_justcats %>
<% include ../partials/footer %>
