<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">

    <h1 class="content_heading">Novice</h1>
    <hr class="content_title_subhr" />

    <div id="novice_container">
      <ul class="content seznam_novic">
        <% novice.forEach(function(novica) { %>
          <li>
            <h4>
              <a href="/novice/<%= novica._id %>">
                <em><%= moment(novica.datum).format("DD[.]MM[.]YYYY") %></em> | <%= novica.naslov %>
              </a>
            </h4>
            <p><%- novica.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,250) + "..." %>
              <a href="/novice/<%= novica._id %>">
                <i class="fa fa-forward" aria-hidden="true"></i></p>
              </a>
          </li>
        <% }) %>
      </ul>
      <div class="page_navigation"></div>
    </div>



  </div>
  <div class="sidebar">
    <div class="side_cats">
      <div class="side_header">Iščejo dom</div>
      <div class="side_cats_list">
        <% sidebar_muce.forEach(function(sidebar_muca) { %>
          <div class="side_cat">
            <img src="/files/oglasi_muce/<%= sidebar_muca.file_name1 %>" />
            <h5><%= sidebar_muca.ime %></h5>
          </div>
        <% }) %>
      </div>
      <div class="side_more">
        <div class="side_btn">Vse muce <i class="fa fa-caret-right" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
</div>
</div>

<% include ../partials/footer %>
