<% include ../partials/header %>
<div class="nonindex">
  <div class="container">
    <div class="content">
    <h1 class="content_heading"><%= novica.naslov %></h1>
    <hr class="content_title_subhr" />

    <%- novica.vsebina %>
    <div class="fb-like"
      data-href="<%= social_url %>"
      data-layout="button"
      data-action="like"
      data-show-faces="true">
    </div>
    <div class="fb-share-button"
      data-href="<%= social_url %>"
      data-layout="button">
    </div>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
      data-text="<%= social_description %>">
    <i class="fa fa-twitter"></i> Tweet</a>
<% include ../partials/sidebar %>
<% include ../partials/footer %>
