<% include ../../partials/admin/header %>
<div class="header d-flex flex-row justify-content-between align-items-center">
  <h1 class="p-2 badge badge-secondary">Prispevki, članki, povezave</h1>
  <div class="addArticlesDiv">
    <a href="/admin/clanki/add_text"><button class="btn btn-outline-primary addOrEditButton"><i class="fas fa-align-left" aria-hidden="true"></i> Nov članek</button></a>
    <a href="/admin/clanki/add_file"><button class="btn btn-outline-danger addOrEditButton"><i class="fas fa-file-pdf-o" aria-hidden="true"></i> Nova PDF datoteka</button></a>
    <a href="/admin/clanki/add_link"><button class="btn btn-outline-dark addOrEditButton"><i class="fas fa-external-link-alt" aria-hidden="true"></i> Nova zunanja povezava</button></a>
  </div>
</div>
<hr class="header-divider" />


<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Datum objave</th>
            <th>Tip</th>
            <th>Kategorija</th>
            <th>Naslov</th>
            <th>Vsebina</th>
            <th>Objava</th>
            <th>Prikaži</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
        <% clanki.forEach(function(clanek) { %>
          <tr>
              <td>
                <!-- hidden date format for table ordering purposes  -->
                <span class="hidden"><%= moment(clanek.datum).format("YYYY[/]MM[/]DD") %></span>
                <!-- actual date format shown -->
                <%= moment(clanek.datum).format("DD[.]MM[.]YYYY") %>
              </td>
              <td><%= clanek.tip %></td>
              <td><%= clanek.kategorija %></td>
              <td><%= clanek.naslov %></td>
              <td><%- (clanek.tip == "datoteka" || clanek.tip == "povezava") ? clanek.vsebina : clanek.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %></td>
              <td><%= clanek.objava == "1" ? "Da" : "Ne" %></td>
              <td><a href="/admin/clanki/<%= clanek.dbid %>" target="_blank"><i class="far fa-eye" aria-hidden="true"></i></a></td>
              <td><a href="/admin/clanki/<%= clanek.dbid %>/edit"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>

<% include ../../partials/admin/footer %>
