<% include ../../partials/admin/header %>

<h3>Koristne informacije</h3>
<hr />
<strong>Dodaj: </strong>
<a href="/admin/clanki/add_text"><i class="fa fa-align-left" aria-hidden="true"></i> Besedilo (na naši strani)</a> |
<a href="/admin/clanki/add_file"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Datoteko (.PDF)</a> |
<a href="/admin/clanki/add_link"><i class="fa fa-external-link" aria-hidden="true"></i> Povezavo (na zunanjo stran)</a>
<hr />

<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Datum objave</th>
            <th>Tip</th>
            <th>Kategorija</th>
            <th>Naslov</th>
            <th>Vsebina</th>
            <th>Objava</th>
            <th>Prikaži</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
        <% clanki.forEach(function(clanek) { %>
          <tr>
              <td>
                <!-- hidden date format for table ordering purposes  -->
                <span class="hidden"><%= moment(clanek.datum).format("YYYY[/]MM[/]DD") %></span>
                <!-- actual date format shown -->
                <%= moment(clanek.datum).format("DD[.]MM[.]YYYY") %>
              </td>
              <td><%= clanek.tip %></td>
              <td><%= clanek.kategorija %></td>
              <td><%= clanek.naslov %></td>
              <td><%- (clanek.tip == "datoteka" || clanek.tip == "povezava") ? clanek.vsebina : clanek.vsebina.replace(/<(?:.|\n)*?>/gm, '').substring(0,200) + "..." %></td>
              <td><%= clanek.objava == "1" ? "Da" : "Ne" %></td>
              <td><a href="/admin/clanki/<%= clanek.dbid %>" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
              <td><a href="/admin/clanki/<%= clanek.dbid %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>

<% include ../../partials/admin/footer %>
