<% include ../../partials/admin/header %>

<h3>Izobraževalne vsebine</h3>
<p><a href="/admin/izobrazevalne_vsebine/add">+ Dodaj novo</a></p>
<table id="tabela" class="display">
    <thead>
        <tr>
            <th>Datum objave</th>
            <th>Naslov</th>
            <th>Naslovna slika</th>
            <th>Datoteka</th>
            <th>Objava</th>
            <th>Prikaži</th>
            <th>Uredi</th>
        </tr>
    </thead>
    <tbody>
        <% vsebine.forEach(function(vsebina) { %>
          <tr>
              <td>
                <!-- hidden date format for table ordering purposes  -->
                <span class="hidden"><%= moment(vsebina.datum).format("YYYY[/]MM[/]DD") %></span>
                <!-- actual date format shown -->
                <%= moment(vsebina.datum).format("DD[.]MM[.]YYYY") %>
              </td>
              <td><%= vsebina.naslov %></td>
              <td><a href="/files/izobrazevanje/<%= vsebina.naslovna_slika %>" target="_blank"><img class="thumb" src="/files/izobrazevanje/<%= vsebina.naslovna_slika %>" /></a></td>
              <td><%- vsebina.datoteka %></td>
              <td><%= vsebina.objava == "1" ? "Da" : "Ne" %></td>
              <td><a href="/files/izobrazevanje/<%= vsebina.datoteka %>" target="_blank"><i class="far fa-eye" aria-hidden="true"></i></a></td>
              <td><a href="/admin/izobrazevalne_vsebine/<%= vsebina._id %>/edit"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
          </tr>
        <% }) %>
    </tbody>
</table>



<% include ../../partials/admin/footer %>
