<%- include('../partials/header') -%>
<div class="with-bootstrap">
    <main class="fundraiser-landing position-relative">
        <header
            class="fundraiser-landing-hero bg-cover d-flex text-white text-center"
            style="background-image: url('/images/backgrounds/zbiramo_za_zavetisce_hero_image_1.jpg')"
        >
            <div class="container align-items-center d-flex flex-column justify-content-center justify-content-md-end pb-4">
                <h1 class="display-3 text-shadow">Skupaj lahko dosežemo vse!</h1>
                <h2 class="mb-4 font-weight-light text-shadow">Zbiranje sredstev za nakup novega zavetišča</h2>
                <button
                    class="btn btn-primary btn-lg shadow slide-toggle"
                    data-slide-to="#fundraiser-landing-donate"
                >
                    Doniraj
                </button>
            </div>
        </header>
        <div class="fundraiser-landing-content-wrapper position-relative">
            <div class="container">
                <section class="fundraiser-landing-expo bg-white shadow p-4 rounded">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 text-center text-md-left">
                            <small class="text-muted mr-1">zbranih</small>
                            <h1 class="d-inline"><strong>59.487,22 €</strong></h1>
                        </div>
                        <div class="col-12 col-md-6 text-center text-md-right">
                            <small class="text-muted mr-1">od</small>
                            <h2 class="d-inline">150.000 €</h2>
                        </div>
                    </div>
                    <div class="fundraiser-landing-progress-bar py-3">
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped"
                                role="progressbar"
                                style="width: 40%"
                                aria-valuenow="40"
                                aria-valuemin="0"
                                aria-valuemax="100"
                            >
                                40%
                            </div>
                            <i class="fas fa-home"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button
                                class="btn btn-secondary btn-lg slide-toggle"
                                data-slide-to="#fundraiser-landing-donate"
                            >
                                Doniraj
                            </button>
                        </div>
                    </div>
                </section>
                <section class="fundraiser-landing-about bg-white shadow rounded p-4">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="mb-3">
                                <i class="fas fa-question-circle mr-1"></i>
                                <strong>Zakaj potrebujemo pomoč</strong>
                            </h4>
                            <div class="font-weight-light">
                                <div class="mb-1">Februarja 2020 smo zapisali:</div>
                                <p class="font-italic font-weight-bolder">"Našli smo nepremičnino, poslovni prostor, ki nam dolgoročno omogoča širitev na 500 m2, stane pa 150.000 €."</p>
                                <p>Te nepremičnine nam ni uspelo kupiti, saj smo za nakup zbrali premalo sredstev in je bila prodana drugemu kupcu. </p>
                                <p><strong>12.11. 2020</strong> smo podpisali pogodbo za nakup druge nepremičnine, plačali <strong>10% nakupne are za nepremičnino</strong>, kjer bo v nekaj letih stalo naše prelepo in tako željeno in nujno potrebno zavetišče.</p>
                                <p>Nepremičnina je v Celju, <strong>2100 m<sup>2</sup> zemljišča</strong> v celoti stavbnega, na zemljišču je stara hiša in dve manjši gospodarski poslopji. Z občine imamo že pisno informacijo, da lahko zazidamo, renoviramo, nadomestno gradimo zavetišče za mačke, z vsemi pripadajočimi prostori. <strong>To je za nas sanjska nepremičnina</strong>, točno takšna in s takšno gradbeno namembnostjo, kot smo si želeli, tudi cena je poštena. Naš načrt je prenoviti prostore, ki so že in dozidati, kar bo še potrebno.</p>
                                <p>Upamo, da bomo lahko že <strong>sezono 2021</strong> vsaj deloma preživeli že v novih prostorih, ki jih muce tako zelo potrebujejo.</p>
                                <p>Končna prodajna cena je okroglih <strong>100.000 €</strong> in 1200 € stroškov agencije. 10.000 € smo s TRR, kjer zbiramo za zavetišče, plačali danes, 90.000 moramo plačati <strong>do 6.1.2021.</strong></p>
                                <p>Smo si upali, kljub riziku, da mogoče ne bi mogli zbrati dovolj sredstev, ker zaupamo v to, da nam bo uspelo zbrati preostanek tega, kar potrebujemo za plačilo. <strong>Take priložnosti so namreč redke in je nismo mogli zamuditi.</strong></p>
                                <hr>
                                <p class="font-weight-bold"><u>Finančna računica pa je takšna:</u></p>
                                <ul style="list-style: initial;" class="ml-4">
                                    <li>zbrano na TRR na dan 13.11.2020: <strong>32.413,63 €</strong></li>
                                    <li>dediščina od pokojne gospe iz Kranja (hvala 💗), prejeta v letu 2018: <strong>12.000,00 €</strong></li>
                                    <li>privarčevali od donacij iz dohodnine iz preteklih let: <strong>10.000,00 €</strong></li>
                                </ul>
                                <p class="mb-1">SKUPAJ za namen nakupa nepremičnine za zavetišče: <span class="bg-primary px-1 font-weight-bolder">54.413,63 €</span></p>
                                <p class="underline">Za nakup tako potrebujemo še cca. <strong><u>46.000 €</u></strong> do <strong>6.1. 2021</strong></p>
                                <p>Tako da namesto rajanja ob veselju in radosti, kar takoj pozivamo in prosimo, da nam pomagate zbrati preostanek, <strong>prav vsak evro je pomemben</strong>!</p>
                                <p class="mb-1">V fond za nakup bo šlo:</p>
                                <ul style="list-style: initial;" class="ml-4">
                                    <li>vse, kar pride na naš <strong>TRR</strong> <a href="#fundraiser-landing-donate" class="slide-toggle text-black" data-slide-to="#fundraiser-landing-donate"><u>(doniraj)</u></a></li>
                                    <li>vse, kar bo prispelo od danes do 6.1. 2021 na naš <strong>PayPal</strong> račun <a href="#fundraiser-landing-donate" class="slide-toggle text-black" data-slide-to="#fundraiser-landing-donate"><u>(doniraj)</u></a></li>
                                    <li>vse, kar bo prišlo na naše naslove za <strong>SMS donacije</strong> POMOCMH5 in ZAVETISCEMH5 <a href="#fundraiser-landing-donate" class="slide-toggle text-black" data-slide-to="#fundraiser-landing-donate"><u>(doniraj)</u></a></li>
                                    <li>polovica od nakupa koledarjev za leto 2021 (objavljeni bodo 15.11.2020)</li>
                                </ul>
                                <hr>
                                <h5 class="font-weight-bolder">Hvala VSEM za vsak evro, ki ste ga že in ga še boste donirali v ta namen 💗</h5>
                                <h5 class="font-weight-bolder">Res je pomembno za prihodnost nikogaršnjih muc 💗</h5>
                                <h4 class="font-weight-bold">SKUPAJ LAHKO DOSEŽEMO VSE! 👍</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="font-weight-bolder mb-2">Fotografija nepremičnine:</div>
                            <a href="/novo_zavetisce_celje/zemljisce.jpg" target="_blank">
                                <img src="/novo_zavetisce_celje/zemljisce.jpg" alt="Zemljišče za novo zavetišče v Celju" class="img-fluid rounded w-100" />
                            </a>
                        </div>
                    </div>
                </section>
                <section class="fundraiser-landing-cta">
                    <div class="alert alert-secondary">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-6 text-center text-lg-left my-3 my-lg-0">
                                <h5 class="mb-0"><strong>Potrebujemo širšo podporo in pomoč mnogih.</strong></h5>
                            </div>
                            <div class="col-12 col-lg-6 text-center text-lg-right my-2 my-lg-0">
                                <button
                                    class="btn btn-lg btn-light shadow slide-toggle"
                                    data-slide-to="#fundraiser-landing-donate"
                                >
                                    Doniraj
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fundraiser-landing-cta text-center pt-2 pb-0 py-lg-5">
                    <h1>Sami ne bomo zmogli!</h1>
                    <p>
                        <strong>Skupaj pa lahko dosežemo vse!</strong> Vsak vaš prispevek je pomemben in dragocen,
                        z vsakim podarjenim evrom smo bliže cilju. Delite naš poziv tudi med svoje prijatelje,
                        naj doseže in se dotakne vsakogar, ki mu je mar.
                    </p>
                    <div class="row align-items-center">
                        <div
                            class="fb-like col-12"
                            data-href="<%= social_url %>"
                            data-layout="button_count"
                            data-action="like"
                            data-share="true"
                            data-size="large"
                        ></div>
                        <div class="col-12 mt-1">
                            <a
                                class="twitter-share-button"
                                href="https://twitter.com/intent/tweet?url=<%= social_url %>&text=<%- social_description %>"
                                data-text="<%= social_description %>"
                                data-size="large"
                            >
                                <i class="fab fa-twitter"></i>
                                Deli na Twitterju
                            </a>
                        </div>
                    </div>
                </section>
                <section class="fundraiser-landing-donate" id="fundraiser-landing-donate">
                    <h1 class="p-3 text-center"><strong>Načini doniranja</strong></h1>
                    <div class="row">
                        <div class="col-12 col-lg-4 d-flex mb-4 mb-lg-0">
                            <div class="card flex-grow-1">
                                <div class="card-header">
                                    <i class="fab fa-paypal mr-1"></i>
                                    <strong>PayPal</strong>
                                </div>
                                <div class="card-body font-weight-light">
                                    <p>
                                        S pritiskom na spodnji gumb lahko donirate preko spletne storitve
                                        <strong>PayPal</strong>.
                                    </p>
                                    <p>
                                        Donirate lahko <strong>20 €</strong>,
                                        <strong>50 €</strong>, <strong>100 €</strong>, ali pa sami določite znesek.
                                    </p>
                                    <p>
                                        Odločite se lahko tudi za <strong>mesečno donacijo</strong>, pri kateri
                                        vam bo izbrani znesek vsak mesec avtomatsko trgan z računa. Mesečno donacijo
                                        lahko prekličete v svojem PayPal računu.
                                    </p>
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick" />
                                        <input type="hidden" name="hosted_button_id" value="8A38UYRELEPXW" />
                                        <input
                                            type="image"
                                            src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
                                            class="bg-light border p-2 rounbded rounded shadow-sm"
                                            border="0"
                                            name="submit"
                                            title="PayPal - The safer, easier way to pay online!"
                                            alt="Donate with PayPal button"
                                        />
                                        <img
                                            alt=""
                                            border="0"
                                            src="https://www.paypal.com/en_SI/i/scr/pixel.gif"
                                            width="1"
                                            height="1"
                                        />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex mb-4 mb-lg-0">
                            <div class="card flex-grow-1">
                                <div class="card-header">
                                    <i class="fas fa-money-check mr-1"></i>
                                    <strong>Bančno nakazilo</strong>
                                </div>
                                <div class="card-body font-weight-light">
                                    <p>
                                        Odprli smo varčevalni TRR, na katerem se bodo zbirala sredstva
                                        le v namen nakupa prostora za NOVO ZAVETIŠČE.
                                    </p>
                                    <hr>
                                    <h5 class="mb-3"><strong>Podatki za nakazilo:</strong></h5>
                                    <p>
                                        <strong>IBAN</strong>: SI56 6100 0002 3603 842 (odprt pri Delavski hranilnici)
                                    </p>
                                    <p><strong>BIC/SWIFT</strong>: HDELSI22</p>
                                    <p>Za donacije prosimo uporabite kodo namena <strong>CHAR</strong> (dobrodelni prispevki).</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 d-flex mb-4 mb-lg-0">
                            <div class="card flex-grow-1">
                                <div class="card-header">
                                    <i class="fas fa-mobile-alt mr-1"></i>
                                    <strong>SMS donacija</strong>
                                </div>
                                <div class="card-body font-weight-light">
                                    <p>
                                        Pri mobilnih operaterjih <strong>A1</strong>, <strong>Telekom</strong> in
                                        <strong>Telemach</strong> smo odprli novo ključno besedo za
                                        SMS donacije <strong>ZAVETISCEMH5</strong>.
                                    </p>
                                    <p>Donacijo lahko pošljete prek številke <strong>1919</strong>.</p>
                                    <p>
                                        Sredstva iz SMS donacij z navedeno ključno besedo bodo mesečno po prejemu
                                        obračunov nakazana na namenski varčevalni račun in se bodo uporabila
                                        izključno za nakup novega zavetišča.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="text-center">
                    <h2>Pravne osebe</h2>
                    <p>
                        Hvala tudi podjetjem, ki so se odločili podpreti naša prizadevanja.
                        Če bi se jim želeli pridružiti, si poglejte
                        <a href="/files/zbiramo_za_zavetisce/sponzorska_ponudba.pdf" target="_blank">našo ponudbo</a>
                        ter nam pišite na
                        <a href="mailto:zavetisce@macjahisa.si">zavetisce@macjahisa.si</a>
                        in poslali vam bomo predlog sponzorske ali donatorske pogodbe.
                    </p>
                    <div class="row justify-content-center align-items-end">
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_koncerti_net.jpg" alt="Koncerti.net" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Koncerti.net</div>
                            <div><a href="https://www.koncerti.net/" target="_blank">www.koncerti.net</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_wicked_tattoo.jpg" alt="Wicked Tattoo Studio" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Wicked Tattoo Studio</div>
                            <div><a href="https://www.facebook.com/wickedtattooslo/" target="_blank">www.facebook.com/wickedtattooslo</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_sempatja.png" alt="SEMpaTJA" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">SEMpaTJA</div>
                            <div><a href="https://www.sempatja.si/" target="_blank">www.sempatja.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_marsha.png" alt="Marsha" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Marsha</div>
                            <div><a href="http://www.marsha.si/domov.html" target="_blank">www.marsha.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_artemisa.png" alt="Artemisa" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Artemisa</div>
                            <div><a href="https://www.artemisa.si/" target="_blank">www.artemisa.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_marvis.png" alt="Marvis Trade" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Marvis Trade</div>
                            <div><a href="https://marvis-trade.si/" target="_blank">www.marvis-trade.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_nimo.jpg" alt="Nimo Studio" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Nimo studio</div>
                            <div><a href="https://www.nimo.si/" target="_blank">www.nimo.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_paleta_znanj.png" alt="Paleta znanj" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Paleta znanj</div>
                            <div><a href="http://paletaznanj.si/" target="_blank">www.paletaznanj.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_outdoormania.png" alt="Outdoor Mania" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Outdoor Mania</div>
                            <div><a href="https://outdoor-mania.com/" target="_blank">www.outdoor-mania.com</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_provar.png" alt="Provar d.o.o." class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Provar d.o.o.</div>
                            <div><a href="http://www.provar.si/" target="_blank">www.provar.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Nepikum d.o.o.</div>
                            <div><a href="#">/</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_dzzz_kranj.png" alt="DZZZ Kranj" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Društvo za zaščito živali Kranj</div>
                            <div><a href="https://www.dzzz-kranj.si/" target="_blank">www.dzzz-kranj.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_dzzpo.jpg" alt="Društvo za zaščito živali Postojna" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Društvo za zaščito živali Postojna</div>
                            <div><a href="https://www.facebook.com/Dru%C5%A1tvo-za-za%C5%A1%C4%8Dito-%C5%BEivali-Postojna-315046838586144" target="_blank">Facebook stran</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_pasja_teta.png" alt="Pasja teta" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Pasja teta</div>
                            <div><a href="https://pasjateta.si/" target="_blank">www.pasjateta.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_felivet.png" alt="Felivet" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Felivet</div>
                            <div><a href="https://www.felivet.si/" target="_blank">www.felivet.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">DEKA-MONT d.o.o.</div>
                            <div><a href="#">/</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_veganistra.jpg" alt="Veganistra" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Veganistra</div>
                            <div><a href="https://www.facebook.com/Veganistra/" target="_blank">Facebook stran</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_dzzz_nm.png" alt="DZZZ Novo mesto" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Društvo za zaščito živali Novo mesto</div>
                            <div><a href="https://dzzz-nm.si/" target="_blank">www.dzzz-nm.si</a></div>
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column align-items-center my-3">
                            <img src="/zavetisce_sponzorji/sponzor_linguarus.jpg" alt="Linguarus" class="img-fluid">
                            <div class="badge badge-primary font-size-md mb-1 mt-2">Jezikovna šola Linguarus</div>
                            <div><a href="https://www.linguarus.si/" target="_blank">www.linguarus.si</a></div>
                        </div>
                    </div>
                </section>
                <section class="fundraiser-landing-mailing">
                    <div class="alert alert-secondary">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-6 text-center text-lg-left my-3 my-lg-0">
                                <h5 class="mb-0"><strong>Želite biti obveščeni o napredku projekta?</strong></h5>
                            </div>
                            <div class="col-12 col-lg-6 text-center text-lg-right my-2 my-lg-0">
                                <a
                                    href="<%= siteConfig.external_links.mailing_sub %>"
                                    target="_blank"
                                    class="btn btn-lg btn-light shadow slide-toggle"
                                    data-slide-to="#fundraiser-landing-donate"
                                >
                                    Naročilo na e-novice
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
<%- include('../partials/footer') -%>


