<% include ../partials/header %>
<% include ../partials/nonindex %>

<%- podstran.vsebina %>

<div class="izobrazevalne-vsebine">
  <% vsebine.forEach(function(vsebina){ %>
    <div class="vnos">
      <div class="naslovna_slika">
        <a href="/files/izobrazevanje/<%= vsebina.datoteka %>" target="_blank">
          <img src="/files/izobrazevanje/<%= vsebina.naslovna_slika %>" alt="<%= vsebina.naslov %>"/>
        </a>
      </div>
      <div class="vsebina">
        <a href="/files/izobrazevanje/<%= vsebina.datoteka %>" target="_blank">
          <h3><%= vsebina.naslov %></h3>
        </a>
        <p><a href="/files/izobrazevanje/<%= vsebina.datoteka %>" target="_blank">Preberi <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
    </div>
  <% }); %>
</div>

<% include ../partials/sidebar %>
<% include ../partials/footer %>
