<% include ../partials/header %>
<% include ../partials/content-hero %>

<div class="with-bootstrap">
    <div class="container">
        <div class="row content-wrapper pt-5">
            <div class="content-body col-12 col-lg-8 pb-5">
                <%- podstran.vsebina %>

                <div>
                    <h2>Prispevki</h2>
                    <ul>
                        <% prispevki.forEach(clanek => { %>
                            <li>
                                <a
                                    class="clanek_link"
                                    href="/dobro-je-vedeti/prispevki-clanki-povezave/<%= clanek.dbid %>"
                                    target="<%= clanek.tip === 'besedilo' ? '_top' : '_blank' %>"
                                >
                                    <%= clanek.naslov %>
                                    <% if (clanek.tip === "besedilo") { %>
                                        <i class="fab fa-readme"></i>
                                    <% } else if (clanek.tip === "datoteka") { %>
                                        <i class="far fa-file-pdf"></i>
                                    <% } else if (clanek.tip === "povezava") { %>
                                        <i class="fas fa-external-link-alt"></i>
                                    <% } %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>

                    <h2>Nasveti</h2>
                    <ul>
                        <% nasveti.forEach(clanek => { %>
                            <li>
                                <a
                                    class="clanek_link"
                                    href="/dobro-je-vedeti/prispevki-clanki-povezave/<%= clanek.dbid %>"
                                    target="<%= clanek.tip === 'besedilo' ? '_top' : '_blank' %>"
                                >
                                    <%= clanek.naslov %>
                                    <% if (clanek.tip === "besedilo") { %>
                                        <i class="fab fa-readme"></i>
                                    <% } else if (clanek.tip === "datoteka") { %>
                                        <i class="far fa-file-pdf"></i>
                                    <% } else if (clanek.tip === "povezava") { %>
                                        <i class="fas fa-external-link-alt"></i>
                                    <% } %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>

                    <h2>Zdravje</h2>
                    <ul>
                        <% zdravje.forEach(clanek => { %>
                            <li>
                                <a
                                    class="clanek_link"
                                    href="/dobro-je-vedeti/prispevki-clanki-povezave/<%= clanek.dbid %>"
                                    target="<%= clanek.tip === 'besedilo' ? '_top' : '_blank' %>"
                                >
                                    <%= clanek.naslov %>
                                    <% if (clanek.tip === "besedilo") { %>
                                        <i class="fab fa-readme"></i>
                                    <% } else if (clanek.tip === "datoteka") { %>
                                        <i class="far fa-file-pdf"></i>
                                    <% } else if (clanek.tip === "povezava") { %>
                                        <i class="fas fa-external-link-alt"></i>
                                    <% } %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>

                    <h2>Zakonodaja</h2>
                    <ul>
                        <% zakonodaja.forEach(clanek => { %>
                            <li>
                                <a
                                    class="clanek_link"
                                    href="/dobro-je-vedeti/prispevki-clanki-povezave/<%= clanek.dbid %>"
                                    target="<%= clanek.tip === 'besedilo' ? '_top' : '_blank' %>"
                                >
                                    <%= clanek.naslov %>
                                    <% if (clanek.tip === "besedilo") { %>
                                        <i class="fab fa-readme"></i>
                                    <% } else if (clanek.tip === "datoteka") { %>
                                        <i class="far fa-file-pdf"></i>
                                    <% } else if (clanek.tip === "povezava") { %>
                                        <i class="fas fa-external-link-alt"></i>
                                    <% } %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>

                </div>
            </div>
            <div class="col-12 col-lg-4 pb-5">
                <% include ../partials/sidebar %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
